@import "../Variables/Variables.scss";

/*Banner section 최상위 부모 container*/
.BannerSection-container{
    position: relative;
    top : 0;
    left : 0;
    width : 100%;
    height : 100vh;

    /*Banner Section contents, ImageBox, scrollbox 부모 box*/
    .Banner-box{
        position: relative;
        top : 0;
        left : 0;
        width : 100%;
        height : 100%;
        background-color: $rgba-black;
        z-index: 100;

        /*메인로고, 뒷 그림자 로고 contents 부모 box*/
        .Banner-contentsBox{
            position: absolute;
            top : 50%;
            left : 50%;
            transform: $centerTL;
            width : 60rem;
            height : 35rem;
            z-index: 100;
        
            /*메인로고, 그림자 로고 contents 부모 container*/
            .Banner-content{
                position: relative;
                width : 100%;
                height : 100%;
            
                /*메인 로고 text box (flexbox column)*/
                .Maintxt-Box{
                    position: absolute;
                    top : 0;
                    width : 100%;
                    height : 10rem;
                    display: flex;
                    flex-direction: column;
                }
                /*framer motion 한 글자마다 효과를 주기 위해 inline-flex로 <h1> 자식 글자들 정렬*/
                .Solid-Maintxt{
                    position: relative;
                    top : 0;
                    width : 100%;
                    display: inline-flex;
                    font-size: 5rem;
                    font-weight: 100;
                    text-align: left;
                    font-family: $font-Alfa;
                    color : $white-color;
                    letter-spacing: 1.5rem;
                }
                /*메인 로고 그림자 text box (부모 메인 로고 요소에 absolute 속성으로 (5%,5%) 비스듬하게 위치)*/
                .Subtxt-Box{
                    position: absolute;
                    top : 5%;
                    left : 5%;
                    width : 100%;
                    height : 10rem;
                    display: flex;
                    flex-direction: column;
                }
                /*메인 로고와 같이 inline-flex로 <h1> 자식 글자들 정렬*/
                .Solid-Subtxt{
                    position: relative;
                    width : 100%;
                    display: inline-flex;
                    color : rgba(255, 255, 255, 0.2);
                    font-size: 5rem;
                    font-weight: 100;
                    text-align: left;
                    font-family: $font-Alfa;
                    letter-spacing: 1.5rem;
                }
            }
        }

        /*scrollbox 부모 위치 조정 container*/
        .scroll-box{
            position: absolute;
            width : 30rem;
            height : 10rem;
            transform: translateX(-10%);
            color : #fff;
            right : 0;
            bottom : 5rem;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

                        /*scroll text 폰트 설정*/
            .Scroll-txt{
                font-size: 1.2rem;
                font-family: $font-Bebas;
                letter-spacing: 0.2rem;
            }
            
            /*스크롤 화살표 부모 크기*/
            .scroll-arrow{
                position: relative;
                width : 10rem;
                height : 3rem;
                
                /*화살표 span 태그들 디자인 및 무한 애니메이션 적용*/
                span{
                    display: inline-block;
                    width : 25px;
                    height : 25px;
                    background-color: #000;
                    margin : 10px;
                    transform: rotate(45deg);
                    border-right: 5px solid #fff;
                    border-top: 5px solid #fff;
                    animation: ScrollAnimation 2s infinite;
                    
                    /*첫번째 span 요소 애니메이션 실행 0.2초 전에 실행되도록 설정*/
                    &:nth-child(2){
                        animation-delay: -0.2s;
                    }
                    /*첫번째 span 요소 애니메이션 실행 0.4초 전에 실행되도록 설정*/
                    &:nth-child(3){
                        animation-delay: -0.4s;
                    }

                    /*scroll arrow Animation*/
                    @keyframes ScrollAnimation{
                        0%{
                            opacity: 0;
                        }

                        50%{
                            opacity: 1;
                            transition: all 1s ease-in;
                        }

                        100%{
                            opacity: 0;
                            transition: all 1s ease-in;
                        }
                    }
                }
            }
        }

        /*메인 로고 뒤의 개발자 프로필 사진 container*/
        .Owl-ImageBox{
            position: absolute;
            width : 30rem;
            height : 30rem;
            top : 50%;
            transform: translate(-50%, -50%);
            left : 50%;
            background-image: url('../../asset/Image/프로필\ 사진.jpg');
            background-size: cover;
            background-position: center;
            transition: all 1s ease-out;
            background-size: cover;
            background-position: left;
            z-index: -1;
            
            /*메인로고의 시각적 부곽을 위해 사진에 투명도를 주기위한 컨텐츠 추가*/
            &::before{
                position: absolute;
                top : 0;
                left : 0;
                width : 100%;
                height : 100%;
                content : '';
                background-color: rgba(0,0,0,0.3);
            }
        }
    }

}