@import "../../Variables/Variables.scss";

.Preview-container{
    position: relative;
    top : 0;
    left : 0;
    width : 100%;
    height : 150vh;
    z-index: 1000;
    padding : 5rem 0;

    .Preview-title{
        position: relative;
        width : 100%;
        height : 50vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        text-transform: uppercase;
        padding : 0 8rem;

        .title-left{
            position: relative;
            width : 100%;
            height : 15vh;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;

            h1{
                font-size: 7rem;
                font-family: $font-Alfa;
                color : #fff;
                letter-spacing: 1rem;
            }
        }

        .title-right{
            position: relative;
            width : 100%;
            height : 15vh;
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;

            h1{
                font-size: 7rem;
                font-family: $font-Alfa;
                color : #fff;
                letter-spacing: 1rem;
            }
        }

        .Preview-list{
            position: relative;
            width : 60%;
            height : 20vh;
            color : #fff;
            line-height: 20vh;
            z-index: 2000;
    
            li{
                display: inline-block;
                width : 25%;
                height : 100%;

                &.active h1{
                    color : #fff;
                }

                h1{
                    font-size: 2rem;
                    font-family: $font-Bebas;
                    color : rgb(122, 122, 122);
                    text-align: center;
                    cursor: pointer;
                }
            }
        }
    }

    .Preview-React, .Preview-Figma, .Preview-Aws, .Preview-PhotoShop{
        position: absolute;
        width : 80%;
        height : 70vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
        opacity: 0;
        transition: all 0.5s ease-out;

        &#active{
            opacity: 1;
            transition: all 0.5s ease-in;
        }

        .Ability-content{
            position: relative;
            width : 40rem;
            height : 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;

            .Ability-title{
                width : 20rem;
                height : max-content;
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                h1{
                    color : #fff;
                    font-size: 4rem;
                    font-family: $font-Bebas;
                }
            }

            .Ability-info{
                width : 40rem;
                height : 20rem;

                p{
                    width : 100%;
                    word-break: keep-all;
                    font-size: 1.5rem;
                    color : #fff;
                    font-family: $font-Hans;
                }
            }
        }

        .Ability-imgBox{
            position: relative;
            width : 30rem;
            height : 100%;
            overflow: hidden;

            img{
                position: absolute;
                width : 100%;
                height : 100%;
                object-fit: cover;
            }
        }
    }

    .Preview-subtitle{
        position: absolute;
        right : 0;
        width : 20%;
        height : 70vh;
        display: flex;
        align-items: center;
        justify-content: center;

        p{
            position: absolute;
            width : 100%;
            height : 10rem;
            transform: rotate(-90deg);
            color : rgb(122, 122, 122);
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 6rem;
            font-family: $font-Alfa;
            text-transform: uppercase;
            letter-spacing: 0.5rem;
        }
    }

}