@import "../Variables/Variables.scss";

.Technology-container{
    position: relative;
    width : 100%;
    height : 100%;
    background-color: $black-color;

    section{
        display: inline-block;
        width : 100%;
        height : max-content;
        margin : 0;
        padding: 0;
        box-sizing: border-box;

        .Order-Nav{
            position: sticky;
            top : 50%;
            transform: translateY(-50%);
            left : 0;
            width : 15%;
            height : 20rem;
            z-index: 1000;

                ul{
                    display: inline-block;
                    width : 100%;
                    height : 100%;

                    li{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-around;
                        align-items: center;
                        width : 100%;
                        height : 33.3%;

                        .cursor{
                        color : rgb(80, 80, 80);
                        font-size: 2rem;
                        }

                        a{
                        color : rgb(80, 80, 80);
                        font-family: $font-Hans;
                        text-transform: uppercase;
                        font-size: 1.2rem;
                        }
                        #Figma-select.active{
                            color : #fff;
                            font-size: 2rem;
                        }
                        #React-select.active{
                            color : #fff;
                            font-size: 2rem;
                        }
                    }
                }
            }

        .Technology-banner{
            position: relative;
            width : 100%;
            height : 200vh;

            .TechBanner-contents{
                position: relative;
                top : 0;
                left : 0;
                width : 100%;
                height : 60vh;
                z-index: 100;

                &::before{
                    position: absolute;
                    top : 0;
                    left : 0;
                    width : 100%;
                    height : 100%;
                    content : '';
                    background-color: $rgba-black;
                }

                .banner-title{
                    position: absolute;
                    width : max-content;
                    height : max-content;
                    font-size: 8rem;
                    font-family: $font-Alfa;
                    color : #fff;
                    top : 40%;
                    left : 50%;
                    transform: translate(-50%, -40%);
                    letter-spacing: 1rem;
                    z-index: 10;
                    text-align: center;
                }
    
                .banner-subtitle{
                    position: absolute;
                    width : 40rem;
                    height : max-content;
                    font-size : 3rem;
                    color : #fff;
                    z-index: 10;
                    top : 80%;
                    left : 50%;
                    transform: translate(-50%, -65%);
                    font-family: $font-Alfa;
                    text-transform: uppercase;
                    font-weight: 10;
                }
            }

            .banner-background{
                position: relative;
                width : 100%;
                height : 140vh;
                background-image: url('../../asset/Image/document.jpg');
                background-attachment: fixed;
                background-size: cover;

                &::before{
                    position: absolute;
                    top : 0;
                    left : 0;
                    content : '';
                    width : 100%;
                    height : 100%;
                    background-color: rgba(0,0,0,0.7);
                }

                .FrontTECH-container{
                    position: relative;
                    top : 50%;
                    transform: translateY(-50%);
                    width : 100%;
                    height : 100vh;
                    z-index: 100;

                    .FrontTECH-txtBox{
                        position: relative;
                        width : 100%;
                        height : 20vh;

                    .FrontTECH-title{
                        position: relative;
                        width : 100%;
                        height : 10rem;
                        display: flex;
                        justify-content: center;
                        opacity: 0;
                        span{
                            font-size: 6rem;
                            font-family: $font-Hans;
                            color : $white-color;
                        }
                    }
                    }

                    .FrontTECH-GridBox{
                        position: relative;
                        width : 100%;
                        height : 80vh;
                        display: grid;
                        grid-template-columns: repeat(4, 1fr);
                        place-items: center;

                        .TECH-Box{
                            position: relative;
                            width : 80%;
                            height : 100%;
                            display: flex;
                            flex-direction: column;
                            align-items: flex-end;
                            justify-content: space-around;

                            .TECH-BoxTitle{
                                width : 100%;
                                height : 10vh;
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                color : #fff;
                                border-bottom: 5px solid $rgba-white;

                                .BoxTitle-Num{
                                    width : 20%;
                                    height : 100%;
                                    font-size: 5rem;
                                    font-family: $font-Hans;
                                }

                                .BoxTitle-txt{
                                    width : 80%;
                                    padding : 1rem 0;
                                    height : 100%;
                                    display: flex;
                                    justify-content: flex-start;
                                    align-items: center;

                                    p{
                                        font-size: 1.5rem;
                                        font-family: $font-Hans;
                                        text-transform: uppercase;
                                    }
                                }
                            }

                            .Box-icon{
                                width : 10rem;
                                height : 10rem;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                background-color: rgba(255,255,255,0.3);
                                border-radius: 2rem;

                                .TECH-icon{
                                    font-size: 5rem;
                                    color : #fff;
                                }
                            }

                            .TECH-Part{
                                display: flex;
                                flex-direction: column;
                                align-items: flex-end;
                                justify-content: space-around;
                                width : 100%;
                                height : 10rem;

                                h1{
                                    width : 20rem;
                                    font-family: $font-Hans;
                                    color: #fff;
                                    font-size: 1.5rem;
                                    text-align: end;
                                    text-transform: uppercase;
                                }
                            }

                            .TECH-SubHeading{
                                display: flex;
                                flex-direction: column;
                                align-items: flex-end;
                                justify-content: space-around;
                                width : 100%;
                                height : 10rem;

                                h1{
                                    width : 20rem;
                                    font-family: $font-Hans;
                                    color: $rgba-white;
                                    text-align: end;
                                    font-size: 1.2rem;
                                    text-transform: uppercase;
                                }
                            }
                        }
                    }
                }


            }
        }

        .Technology-Introduce{
            position: relative;
            width : 100%;
            height : 100vh;

            .Technology-subtitle{
                position: relative;
                top : 5rem;
                padding : 5rem;
                width : 100%;
                height : max-content;
                display: grid;
                grid-template-columns: 1fr;
                place-items: center;
                gap : 5rem;
                z-index: 100;

                .Technology-dynamicTxt,
                .Technology-dynamicTxt-2,
                .Technology-dynamicTxt-3{
                    display: block;
                    width : 100%;
                    height : 10rem;
                    overflow: hidden;
                    text-align: center;

                    .dynamicTxt-span,
                    .dynamicTxt-span-2,
                    .dynamicTxt-span-3{
                    position: relative;
                    top : 0;
                    font-size: 6rem;
                    color : $white-color;
                    font-family: $font-Alfa;
                    text-transform: uppercase;
                    }
                }
            }
        }
        
        .Technology-figma{
            position: relative;
            width : 100%;
            height : 200vh;

            .figma-container{
                position: relative;
                width : 100%;
                height : 200vh;
                overflow: hidden;

                .figma-bannerTxt{
                    position: absolute;
                    top : 0;
                    left : 0;
                    width : 100%;
                    height : 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    z-index: 100;

                    .Top-banner{
                        position: absolute;
                        top : 0;
                        left : 0;
                        width : 100%;
                        height : 20rem;

                        h1{
                            font-family: $font-Alfa;
                            text-transform: uppercase;
                            font-size: 9rem;
                            color : rgba(255,255,255,0.3);
                            letter-spacing: 1rem;
                        }
                    }

                    .Bottom-banner{
                        position: absolute;
                        bottom : 0;
                        right : 0;
                        width : 100%;
                        height : 20rem;

                        h1{
                            font-family: $font-Alfa;
                            text-transform: uppercase;
                            font-size: 9rem;
                            color : rgba(255,255,255,0.7);
                            letter-spacing: 1rem;
                            text-align: end;
                        }
                    }
                }

                .FigmaPJ-container{
                    position: absolute;
                    top : 50%;
                    right : 0;
                    transform: $centerTL-Y;
                    width : 80%;
                    height : 150vh;
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    place-items: center;
                    gap : 5rem;
                    z-index: 100;
                    overflow: hidden;

                    .FigmaPJ-item{
                        position: relative;
                        width : 35rem;
                        height : 30rem;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: center;

                        .PJ-imgBox{
                            position: relative;
                            width : 100%;
                            height : 20rem;
                            background-color: #000;

                            img{
                            position: absolute;
                            width : 100%;
                            height : 100%;
                            object-fit: cover;
                            }
                        }

                        .PJ-contentBox{
                            position: relative;
                            width : 100%;
                            height : 10rem;
                            display: flex;
                            justify-content: space-around;
                            align-items: center;

                            .PJ-title{
                                width : 25rem;
                                height : 100%;

                                display: flex;
                                flex-direction: column;
                                align-items: flex-start;
                                justify-content: space-around;

                                h1{
                                    font-size: 3rem;
                                    font-family: $font-Bebas;
                                    letter-spacing: 0.5rem;
                                    color : #fff;
                                }

                                p{
                                    color : #fff;
                                    font-family: $font-Bebas;
                                    font-size: 1.5rem;
                                }
                            }

                            .PJ-Tool{
                                width : 10rem;
                                height : 100%;

                                img{
                                position: relative;
                                top : 50%;
                                left : 50%;
                                transform: $centerTL;
                                width : 3rem;
                                height : 3rem;
                                object-fit: scale-down;
                                }
                            }
                        }
                    }
                }

            }
    }

    .Technology-React{
        position: relative;
        width : 100%;
        height : 300vh;

        .ReactPJ-container{
            position: absolute;
            right : 0;
            top : 0;
            width : 80%;
            height : 100%;
            display: grid;
            grid-template-columns: 1fr;
            place-items: center;

            .ReactPJ-item{
                position: relative;
                width : 100%;
                height : 40rem;
                overflow: hidden;

                .ReactPJ-ImgBox{
                    position: absolute;
                    width : 60%;
                    height : 100%;
                    left : 80%;
                    transform: translateX(-80%);

                    &::before{
                        position: absolute;
                        width : 100%;
                        height : 100%;
                        top : 0;
                        left : 0;
                        background-color: $rgba-black;
                        content : "";
                        z-index: 100;
                    }

                    &:hover a{
                        opacity: 1;
                        transition: all 0.5s ease-in;
                    }

                    img{
                        position: absolute;
                        width : 100%;
                        height : 100%;
                        object-fit: cover;
                    }

                    a{
                        position: absolute;
                        top : 50%;
                        left : 50%;
                        transform: $centerTL;
                        z-index: 100;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width : 15rem;
                        height : 5rem;
                        opacity: 0;
                        transition: all 0.5s ease-out;
                        background-color: #000;
                        color : #fff;
                        border-radius: 0.5rem;
                        font-size: 2rem;
                        font-family: $font-Bebas;
                    }
                }

                .ReactPJ-ContentBox{
                    width : 100%;
                    height : 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    color : #fff;

                    .ReactPJ-info{
                        position: relative;
                        width : 30%;
                        height : 80%;
                        top : 50%;
                        transform: $centerTL-Y;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                        
                        .PJ-Name{
                            font-size: 10rem;
                            letter-spacing: 1.5rem;
                            font-family: $font-Bebas;
                        }

                        .PJ-SubName{
                            font-size: 3rem;
                            letter-spacing: 0.1rem;
                            font-family: $font-Bebas;
                        }

                        .ReactPJ-Tech{
                            font-size: 1.8rem;
                            font-family: $font-Bebas;
                        }
                    }

                    .Banner-content{
                        position: relative;
                        width : 20rem;
                        height : 100%;
                        font-size: 2rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        h1{
                        position: relative;
                        transform: rotate(-90deg);
                        text-transform: uppercase;
                        font-family: $font-Alfa;
                        }
                    }

                }
            }
            
        }

    }

    }
}