/*font family variables*/
@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Poor+Story&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gugi&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap");
/*color variables*/
/*transition event variables*/
.Technology-container {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #000;
}
.Technology-container section {
  display: inline-block;
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.Technology-container section .Order-Nav {
  position: -webkit-sticky;
  position: sticky;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 15%;
  height: 20rem;
  z-index: 1000;
}
.Technology-container section .Order-Nav ul {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.Technology-container section .Order-Nav ul li {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 33.3%;
}
.Technology-container section .Order-Nav ul li .cursor {
  color: rgb(80, 80, 80);
  font-size: 2rem;
}
.Technology-container section .Order-Nav ul li a {
  color: rgb(80, 80, 80);
  font-family: "Black Han Sans", sans-serif;
  text-transform: uppercase;
  font-size: 1.2rem;
}
.Technology-container section .Order-Nav ul li #Order-select.active {
  color: #fff;
  font-size: 2rem;
}
.Technology-container section .Technology-banner {
  position: relative;
  width: 100%;
  height: 200vh;
}
.Technology-container section .Technology-banner .TechBanner-contents {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 60vh;
  z-index: 100;
}
.Technology-container section .Technology-banner .TechBanner-contents::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
}
.Technology-container section .Technology-banner .TechBanner-contents .banner-title {
  position: absolute;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  font-size: 8rem;
  font-family: "Alfa Slab One", cursive;
  color: #fff;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
  letter-spacing: 1rem;
  z-index: 10;
  text-align: center;
}
.Technology-container section .Technology-banner .TechBanner-contents .banner-subtitle {
  position: absolute;
  width: 40rem;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  font-size: 3rem;
  color: #fff;
  z-index: 10;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -65%);
  font-family: "Alfa Slab One", cursive;
  text-transform: uppercase;
  font-weight: 10;
}
.Technology-container section .Technology-banner .banner-background {
  position: relative;
  width: 100%;
  height: 140vh;
  background-image: url("../../asset/Image/document.jpg");
  background-attachment: fixed;
  background-size: cover;
}
.Technology-container section .Technology-banner .banner-background::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
.Technology-container section .Technology-banner .banner-background .FrontTECH-container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 100vh;
  z-index: 100;
}
.Technology-container section .Technology-banner .banner-background .FrontTECH-container .FrontTECH-txtBox {
  position: relative;
  width: 100%;
  height: 20vh;
}
.Technology-container section .Technology-banner .banner-background .FrontTECH-container .FrontTECH-txtBox .FrontTECH-title {
  position: relative;
  width: 100%;
  height: 10rem;
  display: flex;
  justify-content: center;
  opacity: 0;
}
.Technology-container section .Technology-banner .banner-background .FrontTECH-container .FrontTECH-txtBox .FrontTECH-title span {
  font-size: 6rem;
  font-family: "Black Han Sans", sans-serif;
  color: #fff;
}
.Technology-container section .Technology-banner .banner-background .FrontTECH-container .FrontTECH-GridBox {
  position: relative;
  width: 100%;
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
}
.Technology-container section .Technology-banner .banner-background .FrontTECH-container .FrontTECH-GridBox .TECH-Box {
  position: relative;
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
}
.Technology-container section .Technology-banner .banner-background .FrontTECH-container .FrontTECH-GridBox .TECH-Box .TECH-BoxTitle {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  border-bottom: 5px solid rgba(255, 255, 255, 0.5);
}
.Technology-container section .Technology-banner .banner-background .FrontTECH-container .FrontTECH-GridBox .TECH-Box .TECH-BoxTitle .BoxTitle-Num {
  width: 20%;
  height: 100%;
  font-size: 5rem;
  font-family: "Black Han Sans", sans-serif;
}
.Technology-container section .Technology-banner .banner-background .FrontTECH-container .FrontTECH-GridBox .TECH-Box .TECH-BoxTitle .BoxTitle-txt {
  width: 80%;
  padding: 1rem 0;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.Technology-container section .Technology-banner .banner-background .FrontTECH-container .FrontTECH-GridBox .TECH-Box .TECH-BoxTitle .BoxTitle-txt p {
  font-size: 1.5rem;
  font-family: "Black Han Sans", sans-serif;
  text-transform: uppercase;
}
.Technology-container section .Technology-banner .banner-background .FrontTECH-container .FrontTECH-GridBox .TECH-Box .Box-icon {
  width: 10rem;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 2rem;
}
.Technology-container section .Technology-banner .banner-background .FrontTECH-container .FrontTECH-GridBox .TECH-Box .Box-icon .TECH-icon {
  font-size: 5rem;
  color: #fff;
}
.Technology-container section .Technology-banner .banner-background .FrontTECH-container .FrontTECH-GridBox .TECH-Box .TECH-Part {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  width: 100%;
  height: 10rem;
}
.Technology-container section .Technology-banner .banner-background .FrontTECH-container .FrontTECH-GridBox .TECH-Box .TECH-Part h1 {
  width: 20rem;
  font-family: "Black Han Sans", sans-serif;
  color: #fff;
  font-size: 1.5rem;
  text-align: end;
  text-transform: uppercase;
}
.Technology-container section .Technology-banner .banner-background .FrontTECH-container .FrontTECH-GridBox .TECH-Box .TECH-SubHeading {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  width: 100%;
  height: 10rem;
}
.Technology-container section .Technology-banner .banner-background .FrontTECH-container .FrontTECH-GridBox .TECH-Box .TECH-SubHeading h1 {
  width: 20rem;
  font-family: "Black Han Sans", sans-serif;
  color: rgba(255, 255, 255, 0.5);
  text-align: end;
  font-size: 1.2rem;
  text-transform: uppercase;
}
.Technology-container section .Technology-Introduce {
  position: relative;
  width: 100%;
  height: 100vh;
}
.Technology-container section .Technology-Introduce .Technology-subtitle {
  position: relative;
  top: 5rem;
  padding: 5rem;
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  gap: 5rem;
  z-index: 100;
}
.Technology-container section .Technology-Introduce .Technology-subtitle .Technology-dynamicTxt,
.Technology-container section .Technology-Introduce .Technology-subtitle .Technology-dynamicTxt-2,
.Technology-container section .Technology-Introduce .Technology-subtitle .Technology-dynamicTxt-3 {
  display: block;
  width: 100%;
  height: 10rem;
  overflow: hidden;
  text-align: center;
}
.Technology-container section .Technology-Introduce .Technology-subtitle .Technology-dynamicTxt .dynamicTxt-span,
.Technology-container section .Technology-Introduce .Technology-subtitle .Technology-dynamicTxt .dynamicTxt-span-2,
.Technology-container section .Technology-Introduce .Technology-subtitle .Technology-dynamicTxt .dynamicTxt-span-3,
.Technology-container section .Technology-Introduce .Technology-subtitle .Technology-dynamicTxt-2 .dynamicTxt-span,
.Technology-container section .Technology-Introduce .Technology-subtitle .Technology-dynamicTxt-2 .dynamicTxt-span-2,
.Technology-container section .Technology-Introduce .Technology-subtitle .Technology-dynamicTxt-2 .dynamicTxt-span-3,
.Technology-container section .Technology-Introduce .Technology-subtitle .Technology-dynamicTxt-3 .dynamicTxt-span,
.Technology-container section .Technology-Introduce .Technology-subtitle .Technology-dynamicTxt-3 .dynamicTxt-span-2,
.Technology-container section .Technology-Introduce .Technology-subtitle .Technology-dynamicTxt-3 .dynamicTxt-span-3 {
  position: relative;
  top: 0;
  font-size: 6rem;
  color: #fff;
  font-family: "Alfa Slab One", cursive;
  text-transform: uppercase;
}
.Technology-container section .Technology-figma {
  position: relative;
  width: 100%;
  height: 200vh;
}
.Technology-container section .Technology-figma .figma-container {
  position: relative;
  width: 100%;
  height: 200vh;
  overflow: hidden;
}
.Technology-container section .Technology-figma .figma-container .figma-bannerTxt {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 100;
}
.Technology-container section .Technology-figma .figma-container .figma-bannerTxt .Top-banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20rem;
}
.Technology-container section .Technology-figma .figma-container .figma-bannerTxt .Top-banner h1 {
  font-family: "Alfa Slab One", cursive;
  text-transform: uppercase;
  font-size: 9rem;
  color: rgba(255, 255, 255, 0.3);
  letter-spacing: 1rem;
}
.Technology-container section .Technology-figma .figma-container .figma-bannerTxt .Bottom-banner {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 20rem;
}
.Technology-container section .Technology-figma .figma-container .figma-bannerTxt .Bottom-banner h1 {
  font-family: "Alfa Slab One", cursive;
  text-transform: uppercase;
  font-size: 9rem;
  color: rgba(255, 255, 255, 0.7);
  letter-spacing: 1rem;
  text-align: end;
}
.Technology-container section .Technology-figma .figma-container .FigmaPJ-container {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 80%;
  height: 150vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  gap: 5rem;
  z-index: 100;
  overflow: hidden;
}
.Technology-container section .Technology-figma .figma-container .FigmaPJ-container .FigmaPJ-item {
  position: relative;
  width: 35rem;
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.Technology-container section .Technology-figma .figma-container .FigmaPJ-container .FigmaPJ-item .PJ-imgBox {
  position: relative;
  width: 100%;
  height: 20rem;
  background-color: #000;
}
.Technology-container section .Technology-figma .figma-container .FigmaPJ-container .FigmaPJ-item .PJ-imgBox img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.Technology-container section .Technology-figma .figma-container .FigmaPJ-container .FigmaPJ-item .PJ-contentBox {
  position: relative;
  width: 100%;
  height: 10rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.Technology-container section .Technology-figma .figma-container .FigmaPJ-container .FigmaPJ-item .PJ-contentBox .PJ-title {
  width: 25rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}
.Technology-container section .Technology-figma .figma-container .FigmaPJ-container .FigmaPJ-item .PJ-contentBox .PJ-title h1 {
  font-size: 3rem;
  font-family: "Bebas Neue", cursive;
  letter-spacing: 0.5rem;
  color: #fff;
}
.Technology-container section .Technology-figma .figma-container .FigmaPJ-container .FigmaPJ-item .PJ-contentBox .PJ-title p {
  color: #fff;
  font-family: "Bebas Neue", cursive;
  font-size: 1.5rem;
}
.Technology-container section .Technology-figma .figma-container .FigmaPJ-container .FigmaPJ-item .PJ-contentBox .PJ-Tool {
  width: 10rem;
  height: 100%;
}
.Technology-container section .Technology-figma .figma-container .FigmaPJ-container .FigmaPJ-item .PJ-contentBox .PJ-Tool img {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 3rem;
  height: 3rem;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}
.Technology-container section .Technology-React {
  position: relative;
  width: 100%;
  height: 300vh;
}
.Technology-container section .Technology-React .ReactPJ-container {
  position: absolute;
  right: 0;
  top: 0;
  width: 80%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
}
.Technology-container section .Technology-React .ReactPJ-container .ReactPJ-item {
  position: relative;
  width: 100%;
  height: 40rem;
  overflow: hidden;
}
.Technology-container section .Technology-React .ReactPJ-container .ReactPJ-item .ReactPJ-ImgBox {
  position: absolute;
  width: 60%;
  height: 100%;
  left: 80%;
  transform: translateX(-80%);
}
.Technology-container section .Technology-React .ReactPJ-container .ReactPJ-item .ReactPJ-ImgBox::before {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  content: "";
  z-index: 100;
}
.Technology-container section .Technology-React .ReactPJ-container .ReactPJ-item .ReactPJ-ImgBox:hover a {
  opacity: 1;
  transition: all 0.5s ease-in;
}
.Technology-container section .Technology-React .ReactPJ-container .ReactPJ-item .ReactPJ-ImgBox img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.Technology-container section .Technology-React .ReactPJ-container .ReactPJ-item .ReactPJ-ImgBox a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: 5rem;
  opacity: 0;
  transition: all 0.5s ease-out;
  background-color: #000;
  color: #fff;
  border-radius: 0.5rem;
  font-size: 2rem;
  font-family: "Bebas Neue", cursive;
}
.Technology-container section .Technology-React .ReactPJ-container .ReactPJ-item .ReactPJ-ContentBox {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #fff;
}
.Technology-container section .Technology-React .ReactPJ-container .ReactPJ-item .ReactPJ-ContentBox .ReactPJ-info {
  position: relative;
  width: 30%;
  height: 80%;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.Technology-container section .Technology-React .ReactPJ-container .ReactPJ-item .ReactPJ-ContentBox .ReactPJ-info .PJ-Name {
  font-size: 10rem;
  letter-spacing: 1.5rem;
  font-family: "Bebas Neue", cursive;
}
.Technology-container section .Technology-React .ReactPJ-container .ReactPJ-item .ReactPJ-ContentBox .ReactPJ-info .PJ-SubName {
  font-size: 3rem;
  letter-spacing: 0.1rem;
  font-family: "Bebas Neue", cursive;
}
.Technology-container section .Technology-React .ReactPJ-container .ReactPJ-item .ReactPJ-ContentBox .ReactPJ-info .ReactPJ-Tech {
  font-size: 1.8rem;
  font-family: "Bebas Neue", cursive;
}
.Technology-container section .Technology-React .ReactPJ-container .ReactPJ-item .ReactPJ-ContentBox .Banner-content {
  position: relative;
  width: 20rem;
  height: 100%;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Technology-container section .Technology-React .ReactPJ-container .ReactPJ-item .ReactPJ-ContentBox .Banner-content h1 {
  position: relative;
  transform: rotate(-90deg);
  text-transform: uppercase;
  font-family: "Alfa Slab One", cursive;
}/*# sourceMappingURL=technology.css.map */