/*font family variables*/
@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Poor+Story&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gugi&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap");
/*color variables*/
/*transition event variables*/
.Introduce-container {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 300vh;
  z-index: 100;
}
.Introduce-container .Introduce-section {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
.Introduce-container .Introduce-section .Video-background {
  position: absolute;
  width: 0;
  height: 100vh;
  left: 50%;
  transform: translateX(-50%);
}
.Introduce-container .Introduce-section .Video-background video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.Introduce-container .Introduce-section .Introduce-Box {
  position: relative;
  width: 100%;
  height: 250vh;
  overflow: hidden;
}
.Introduce-container .Introduce-section .Introduce-Box .Introduce-AboutTitle {
  position: relative;
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  color: #fff;
  font-family: "Bebas Neue", cursive;
}
.Introduce-container .Introduce-section .Introduce-Box .Introduce-hr {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 0.5rem;
  height: 50rem;
  background-color: transparent;
}
.Introduce-container .Introduce-section .Introduce-Box .Introduce-hr .scroll-hr {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20rem;
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  z-index: 100;
}
.Introduce-container .Introduce-section .Introduce-Box .Introduce-hr .scroll-hr span {
  position: relative;
  width: 4rem;
  height: 4rem;
  transform: rotate(45deg);
  border-bottom: 8px solid #fff;
  border-right: 8px solid #fff;
  -webkit-animation: animate 1s infinite;
          animation: animate 1s infinite;
}
.Introduce-container .Introduce-section .Introduce-Box .Introduce-hr .scroll-hr span:nth-child(1) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.Introduce-container .Introduce-section .Introduce-Box .Introduce-hr .scroll-hr span:nth-child(2) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
.Introduce-container .Introduce-section .Introduce-Box .Introduce-hr .scroll-hr span:nth-child(3) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}
@-webkit-keyframes animate {
  0% {
    border-bottom: 8px solid transparent;
    border-right: 8px solid transparent;
  }
  100% {
    border-bottom: 8px solid #fff;
    border-right: 8px solid #fff;
  }
}
@keyframes animate {
  0% {
    border-bottom: 8px solid transparent;
    border-right: 8px solid transparent;
  }
  100% {
    border-bottom: 8px solid #fff;
    border-right: 8px solid #fff;
  }
}
.Introduce-container .Introduce-section .Introduce-Box .Introduce-hr .scroll-Massage {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 30rem;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  font-family: "Bebas Neue", cursive;
  color: #fff;
}
.Introduce-container .Introduce-section .Introduce-Box .Introduce-titleBox {
  position: relative;
  width: 50rem;
  height: 20rem;
  opacity: 0;
  left: 50%;
  transform: translateX(-50%);
}
.Introduce-container .Introduce-section .Introduce-Box .Introduce-titleBox .Introduce-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 70rem;
  color: #fff;
  font-family: "Black Han Sans", sans-serif;
}
.Introduce-container .Introduce-section .Introduce-Box .Introduce-titleBox .Introduce-content .static-title {
  font-size: 3rem;
  font-weight: 100;
  height: 100px;
  line-height: 100px;
}
.Introduce-container .Introduce-section .Introduce-Box .Introduce-titleBox .Introduce-content .dynamic-subtitle {
  margin-left: 2rem;
  height: 100px;
  line-height: 100px;
  overflow: hidden;
}
.Introduce-container .Introduce-section .Introduce-Box .Introduce-titleBox .Introduce-content .dynamic-subtitle li {
  list-style: none;
  font-size: 5rem;
  position: relative;
  top: 0;
  -webkit-animation: slide 4.5s steps(3) infinite;
          animation: slide 4.5s steps(3) infinite;
}
@-webkit-keyframes typing {
  100% {
    left: 110%;
    margin: 0 -100px 0 35px;
  }
}
@keyframes typing {
  100% {
    left: 110%;
    margin: 0 -100px 0 35px;
  }
}
@-webkit-keyframes slide {
  100% {
    top: -300px;
  }
}
@keyframes slide {
  100% {
    top: -300px;
  }
}
.Introduce-container .Introduce-section .Introduce-Box .Introduce-profile {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 30rem;
  height: 30rem;
  overflow: hidden;
  opacity: 0;
  transition: all 0.5s ease-out;
  border-radius: 2rem;
}
.Introduce-container .Introduce-section .Introduce-Box .Introduce-profile img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}/*# sourceMappingURL=introduce.css.map */