@import '../../asset/Variables.scss';

/*Main Page Banner*/
.Main-Banner{
    position: relative;
    width : 100%;
    height : 100vh;
    padding : 0 5%;
    
    .Banner-Index{
        position: relative;
        top : 50%;
        width : 100%;
        height : 40%;
        transform: translateY(-50%);
        display: flex;
        justify-content: center;
        align-items: center;
        padding : 0 50px;

        .Index-contentBox{
            position: relative;
            width : 60%;
            height : 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            color: #fff;

            .Index-title{
                width: 100%;
                height: 150px;
                font-size: 4rem;
                font-family: $font-Mont;
                font-weight: bold;
                line-height: 150px;
            }

            .Dynamic-TxtBox{
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                height: 150px;

                .Dynamic-txt{
                    display: block;
                    width: 50%;
                    height: 150px;
                    line-height: 150px;
                    overflow: hidden;
                    font-size: 2.5rem;
                    font-family: $font-Mont;
                    text-transform: uppercase;

                    &::after{
                        content: '';
                        margin-left: .6rem;
                        border-right: 2px solid #777;
                        animation: cursor .9s infinite steps(2);
                    }
                }

                .Static-txt{
                    display: flex;
                    align-items: flex-end;
                    justify-content: flex-end;
                    width : 50%;
                    height: 100%;

                    h2{
                        width : 100%;
                        line-height: 150px;
                        font-size: 1.2rem;
                        font-family: $font-Noto;
                        font-weight: 100;
                    }
                }
            }
        }

        .Banner-img{
            position: relative;
            width : 40%;
            height: 100%;
            overflow: hidden;

            img{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width : 100%;
                height: 100%;
                object-fit: cover;
            }

            &::before{
                position: absolute;
                width : 100%;
                height : 100%;
                content: '';
                top: 0;
                left : 0;
                background-color: rgba($color: #000000, $alpha: 0.5);
                z-index: 1;
            }
        }
    }

    .scroll-down{
        position: absolute;
        bottom: 2rem;
        left: 50%;
        transform: translateX(-50%);
        width: 10rem;
        height: 6rem;
        color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;

        .scroll-icon{
            display: block;
            width: 2rem;
            height: 2rem;
            animation: scrollAnimate 2s infinite;
            opacity: 0;

            @keyframes scrollAnimate{
                50%{
                    opacity: 1;
                    transition-duration: 1s;
                    margin-top: 1rem;
                }

                100%{
                    opacity: 1;
                    transition-duration: 1s;
                    margin-top: 2rem;
                }
            }
        }

        h2{
            font-size: 1rem;
            font-family: $font-Mont;
            font-weight: bold;
        }
    }
}

/*Project Page Banner*/
.Project-Banner{
    position: relative;
    width: 100%;
    height: 100vh;
    z-index: 10;
    padding: 0 5%;

    .bg-video{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;

        video{
            width : 100%;
            height: 100%;
            object-fit: cover;
        }

        &::before{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            content : '';
            background-color: rgba($color: #000000, $alpha: 0.5);
        }
    }

    .Project-Index{
        position: relative;
        width: 100%;
        height: 50%;
        top : 50%;
        transform: translateY(-50%);
        padding : 0 50px;

        .Index-contentBox{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;

            .Index-title{
                width: 100%;
                height: 150px;
                line-height: 150px;
                font-size: 2.5rem;
                text-transform: uppercase;
                font-weight: bold;
                font-family: $font-Mont;
                color: #fff;
            }

            .Dynamic-TxtBox{
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 60%;
                height: 150px;

                .Dynamic-txt{
                    display: block;
                    width: 50%;
                    height: 150px;
                    line-height: 150px;
                    overflow: hidden;

                    li{
                        position: relative;
                        font-size: 2.5rem;
                        font-weight: bold;
                        top : 0;
                        font-family: $font-Mont;
                        animation: txtAnimation 4.5s steps(2) infinite;
                        color: #fff;

                        @keyframes txtAnimation {
                            100%{
                                top : -300px;
                            }
                        }
                    }
                }

                .Static-txt{
                    font-size: 1rem;
                    font-family: $font-Noto;
                    color: #fff;
                    font-weight: 100;
                    width: 50%;
                    height: 150px;
                    line-height: 150px;
                }
            }
        }
    }
}

@media screen and (max-width : 1440px){
    .Main-Banner{
        
        .Banner-Index{
    
            .Index-contentBox{
                width : 55%;
    
                .Index-title{
                    font-size: 3rem;
                }
    
                .Dynamic-TxtBox{
    
                    .Dynamic-txt{
                        font-size: 2rem;
                    }
    
                    .Static-txt{
    
                        h2{
                            font-size: 1.2rem;
                        }
                    }
                }
            }
    
            .Banner-img{
                width : 45%;
            }
        }
    }
    
    /*Project Page Banner*/
    .Project-Banner{
    
        .Project-Index{
    
            .Index-contentBox{
    
                .Index-title{
                    font-size: 2rem;
                }
    
                .Dynamic-TxtBox{
    
                    .Dynamic-txt{
    
                        li{
                            font-size: 2rem;
                        }
                    }
    
                    .Static-txt{
                        font-size: 12px;
                    }
                }
            }
        }
    }
}