@import '../../asset/Variables.scss';

/*PC Main Page Banner*/
.Main-Banner{
    position: relative;
    width : 100%;
    height : 80vh;
    padding : 0 8.25rem;
    
    .Banner-Index{
        position: relative;
        top : 30%;
        width : 100%;
        height : 40%;
        transform: translateY(-30%);
        display: flex;
        justify-content: center;
        align-items: center;
        padding : 0 50px;

        .Index-contentBox{
            position: relative;
            width : 60%;
            height : 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            color: #fff;

            .Index-title{
                width: 100%;
                height: 150px;
                line-height: 150px;

                h2{
                    font-size: 3.5rem;
                    font-family: $font-Mont;
                    font-weight: 300;
                    text-transform: uppercase;
                }
            }

            .Dynamic-TxtBox{
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                height: 150px;

                .Dynamic-txt{
                    display: block;
                    width: 50%;
                    height: 150px;
                    line-height: 150px;
                    overflow: hidden;
                    font-size: 2rem;
                    font-family: $font-Mont;
                    font-weight: 500;
                    text-transform: uppercase;

                    &::after{
                        content: '';
                        margin-left: .6rem;
                        border-right: 2px solid #777;
                        animation: cursor .9s infinite steps(2);
                    }
                }

                .Static-txt{
                    display: flex;
                    align-items: flex-end;
                    justify-content: flex-end;
                    width : 50%;
                    height: 100%;

                    h2{
                        width : 100%;
                        line-height: 150px;
                        font-size: 1.2rem;
                        font-family: $font-Noto;
                        font-weight: 100;
                    }
                }
            }
        }

        .Banner-img{
            position: relative;
            width : 30%;
            height: 100%;

            .circle-txtBox{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 200px;
                height: 200px;

                img{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 200px;
                    animation: rotateCircleTxt 10s linear infinite;
    
                    @keyframes rotateCircleTxt{
                        100%{
                            transform: translate(-50%, -50%) rotate(360deg);
                        }
                    }
                }
            }

            .owl-icon{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);

                img{
                    max-width: 35px;
                }
            }
        }
    }

    .scroll-down{
        position: absolute;
        bottom: 2rem;
        left: 50%;
        transform: translateX(-50%);
        width: 10rem;
        height: 6rem;
        color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;

        .scroll-icon{
            display: block;
            width: 2rem;
            height: 2rem;
            animation: scrollAnimate 2s infinite;
            opacity: 0;

            @keyframes scrollAnimate{
                50%{
                    opacity: 1;
                    transition-duration: 1s;
                    margin-top: 1rem;
                }

                100%{
                    opacity: 1;
                    transition-duration: 1s;
                    margin-top: 2rem;
                }
            }
        }

        h2{
            font-size: 1rem;
            font-family: $font-Mont;
            font-weight: bold;
        }
    }
}

/*Project Page Banner*/
.Project-Banner{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 10;

    .Slider-wrap{
        position: relative;
        top: 0;
        width: 100%;
        height: 50rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: hidden;
        padding-bottom: 3rem;

        .Project-titleBox{
            position: relative;
            width: 100%;
            height: 10rem;

            .title{
                width: 100%;

                h1{
                    font-size: 1.5rem;
                    color: #fff;
                    font-family: $font-Mont;
                    text-align: center;
                    text-transform: uppercase;
                    line-height: 6rem;
                }
            }

            .sub-title{
                width: 100%;

                p{
                    font-size: 14px;
                    color: #fff;
                    font-family: $font-Noto;
                    text-align: center;
                    line-height: 4rem;
                }
            }
        }

        .NextArrow{
            position: absolute;
            right: 10%;
            top: 50%;
            transform: translate(-10%, -50%);
            background-color: transparent;
            border: none;
            width: 50px;
            height: 50px;
            z-index: 10;
            display: flex;
            align-items: center;
            font-size: 2.5rem;
            color: #fff;
            cursor: pointer;
        }

        .PrevArrow{
            position: absolute;
            left: 10%;
            top: 50%;
            transform: translate(-10%, -50%);
            background-color: transparent;
            border: none;
            width: 50px;
            height: 50px;
            z-index: 10;
            display: flex;
            align-items: center;
            font-size: 2.5rem;
            color: #fff;
            cursor: pointer;
        }

        .slick-slider{
            position: relative;
            width: 100%;
            height: 34rem;

            .slick-slide{
                transform: scale(1);
    
                .Project-item{
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    height: 100%;
                    color: #fff;
                    padding: 0 100px;
        
                    .Project-ImgBox{
                        position: relative;
                        width: 100%;
                        height: 24rem;
                        overflow: hidden;
        
                        img{
                            object-fit: cover;
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                        }

                        .Project-viewButton {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            background-color: rgba(0, 0, 0, 0.5);
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-size: 2rem;
                            color: #fff;
                            z-index : 10;
                            transition: all 0.5s ease-out;
                            opacity: 0;
                        }

                        &::before{
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            content: '';
                            background-color: rgba($color: #000000, $alpha: 0.6);
                            z-index: 10;
                            opacity: 1;
                            transition: all 0.5s ease-in;
                            font-size: 2rem;
                        }
                    }
    
                    .Project-infoBox{
                        position: relative;
                        width: 100%;
                        height: 10rem;
                        padding : 2rem 0 0 0;
                        opacity: 0;
                        transition: all 0.5s ease-out;
    
                        .Project-type{
                            width: 100%;
                            line-height: 3rem;
                            font-size: 13px;
                            font-family: $font-Mont;
                        }
    
                        .title-category{
                            display: flex;
                            justify-content: space-between;
                            align-items: flex-end;
    
                            .title{
                                font-size : 1.5rem;
                                font-family: $font-Mont;
                                line-height: 5rem;
                            }
    
                            .category{
                                font-size: 14px;
                                font-family: $font-Noto;
                                line-height: 5rem;
                            }
                        }
                    }
                }
            }
        }

        .slick-center{

            &.slick-slide{

                .Project-item{
        
                    .Project-ImgBox{

                        &::before{
                            transition: all 0.5s ease-out;
                            opacity: 0;
                        }

                        &:hover{

                            .Project-viewButton{
                                transition: all 0.5s ease-in;
                                opacity: 1;
                                cursor: pointer;
                            }
                        }
                    }

                    .Project-infoBox{
                        opacity: 1;
                        transition: all 0.5s ease-in;
                    }

                    .slide-status{
                        opacity: 1;
                        transition: all 0.5s ease-in;
                    }
                }
            }
        }
    }
}

/* 모바일 반응형 */
@media screen and (max-width : 768px){
    .Main-Banner{
        position: relative;
        width : 100%;
        height : 100vh;
        padding: 0;
    
        .Banner-Index{
            position: relative;
            width : 100%;
            height : 80%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding : 0 50px;

            .Index-contentBox{
                position: relative;
                width : 100%;
                height : 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                color: #fff;

                .Index-title{
                    width: 100%;
                    height: 140px;
                    line-height: 70px;

                    h2{
                        font-size: 2rem;
                        font-family: $font-Mont;
                        font-weight: 300;
                        text-transform: uppercase;
                        text-align: center;
                    }
                }

                .Dynamic-TxtBox{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    height: 160px;

                    .Dynamic-txt{
                        display: block;
                        width: 100%;
                        height: 90px;
                        line-height: 90px;
                        overflow: hidden;
                        font-size: 1.8rem;
                        font-family: $font-Mont;
                        font-weight: 500;
                        text-transform: uppercase;
                        text-align: center;

                        &::after{
                            content: '';
                            margin-left: .6rem;
                            border-right: 2px solid #777;
                            animation: cursor .9s infinite steps(2);
                        }
                    }

                    .Static-txt{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width : 100%;
                        height: max-content;

                        h2{
                            text-align: center;
                            width : 100%;
                            line-height: 70px;
                            font-size: 1.2rem;
                            font-family: $font-Noto;
                            font-weight: 100;
                        }
                    }
                }
            }

            .Banner-img{
                display : none;
            }
        }
    
        .scroll-down{
            position: absolute;
            bottom: 2rem;
            left: 50%;
            transform: translateX(-50%);
            width: 10rem;
            height: 6rem;
            color: #fff;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            cursor: pointer;
    
            .scroll-icon{
                display: block;
                width: 1.5rem;
                height: 1.5rem;
                animation: scrollAnimate 2s infinite;
                opacity: 0;
    
                @keyframes scrollAnimate{
                    50%{
                        opacity: 1;
                        transition-duration: 1s;
                        margin-top: 1rem;
                    }
    
                    100%{
                        opacity: 1;
                        transition-duration: 1s;
                        margin-top: 2rem;
                    }
                }
            }
    
            h2{
                font-size: 15px;
                font-family: $font-Mont;
                font-weight: bold;
            }
        }
    }

    /*Project Page Banner*/
    .Project-Banner{
        position: relative;
        width: 100%;
        height: 100%;
        z-index: 10;

        .Slider-wrap{
            position: relative;
            top: 0;
            transform: translateY(0);
            width: 100%;
            height: 48rem;
            padding : 5rem 0;
            justify-content: space-around;

            .Project-titleBox{
                position: relative;
                width: 100%;
                height: 8rem;

                .title{

                    h1{
                        font-size: 1.2rem;
                        line-height: 5rem;
                    }
                }

                .sub-title{
                    width: 100%;

                    p{
                        font-size: 12px;
                        line-height: 3rem;
                    }
                }
            }

            .NextArrow{
                position: absolute;
                right: 5%;
                top: 30%;
                transform: translate(-5%, -30%);
                background-color: transparent;
                border: none;
                width: 30px;
                height: 30px;
                z-index: 10;
                display: flex;
                align-items: center;
                font-size: 2rem;
                color: #fff;
                cursor: pointer;
            }
    
            .PrevArrow{
                position: absolute;
                left: 5%;
                top: 30%;
                transform: translate(-5%, -30%);
                background-color: transparent;
                border: none;
                width: 30px;
                height: 30px;
                z-index: 10;
                display: flex;
                align-items: center;
                font-size: 2rem;
                color: #fff;
                cursor: pointer;
            }

            .slick-slider{
                position: relative;
                width: 100%;
                height: 20rem;

                .slick-slide{
                    transform: scale(1);
        
                    .Project-item{
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        height: 100%;
                        color: #fff;
                        padding: 0 5px;
            
                        .Project-ImgBox{
                            position: relative;
                            width: 100%;
                            height: 10rem;
                            overflow: hidden;

                            .Project-viewButton {
                                opacity: 0;
                            }

                            &::before{
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                content: '';
                                background-color: rgba($color: #000000, $alpha: 0.6);
                                z-index: 10;
                                opacity: 1;
                                transition: all 0.5s ease-in;
                                font-size: 2rem;
                            }
                        }
        
                        .Project-infoBox{
                            position: relative;
                            width: 100%;
                            height: 10rem;
                            padding : 1rem 0 0 0;
                            opacity: 0;
                            transition: all 0.5s ease-out;
        
                            .Project-type{
                                width: 100%;
                                line-height: 3rem;
                                font-size: 10px;
                                font-family: $font-Mont;
                            }
        
                            .title-category{
        
                                .title{
                                    font-size : 1rem;
                                    font-family: $font-Mont;
                                    line-height: 5rem;
                                }
        
                                .category{
                                    font-size: 10px;
                                }
                            }
                        }
                    }
                }
            }

            .slick-center{

                &.slick-slide{

                    .Project-item{
            
                        .Project-ImgBox{

                            &::before{
                                transition: all 0.5s ease-out;
                                opacity: 0;
                            }

                            &:hover{

                                .Project-viewButton{
                                    transition: all 0.5s ease-in;
                                    opacity: 1;
                                    cursor: pointer;
                                }
                            }
                        }

                        .Project-infoBox{
                            opacity: 1;
                            transition: all 0.5s ease-in;
                        }

                        .slide-status{
                            opacity: 1;
                            transition: all 0.5s ease-in;
                        }
                    }
                }
            }
        }
    }
}

/* 테블릿 반응형 */
@media screen and (min-width : 820px) and (max-width : 1400px){
    .Main-Banner{
        position: relative;
        width : 100%;
        height : 80vh;
        padding : 5rem 0 0 0;
        
        .Banner-Index{
            position: relative;
            top : 50%;
            width : 100%;
            height : 60%;
            transform: translateY(-50%);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding : 0 50px;
    
            .Index-contentBox{
                position: relative;
                width : 100%;
                height : 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                color: #fff;
    
                .Index-title{
                    width: 100%;
                    height: 160px;
                    line-height: 80px;
    
                    h2{
                        text-align: center;
                        font-size: 3rem;
                        font-family: $font-Mont;
                        font-weight: 200;
                        text-transform: uppercase;
                    }
                }
    
                .Dynamic-TxtBox{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    height: 220px;
    
                    .Dynamic-txt{
                        display: block;
                        width: 100%;
                        height: 120px;
                        line-height: 120px;
                        overflow: hidden;
                        font-size: 2.5rem;
                        font-family: $font-Mont;
                        font-weight: 600;
                        text-transform: uppercase;
                        text-align: center;
    
                        &::after{
                            content: '';
                            margin-left: .6rem;
                            border-right: 2px solid #777;
                            animation: cursor .9s infinite steps(2);
                        }
                    }
    
                    .Static-txt{
                        width : 100%;
                        height: max-content;
    
                        h2{
                            text-align: center;
                            line-height: 100px;
                            font-size: 1.2rem;
                        }
                    }
                }
            }
    
            .Banner-img{
                display : none;
            }
        }
    }

    /*Project Page Banner*/
    .Project-Banner{
        position: relative;
        width: 100%;
        height: 90vh;
        z-index: 10;

        .Slider-wrap{
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
            height: 40rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            overflow: hidden;
            padding-bottom: 0;

            .Project-titleBox{
                position: relative;
                width: 100%;
                height: 10rem;

                .title{
                    width: 100%;

                    h1{
                        font-size: 1.5rem;
                        color: #fff;
                        font-family: $font-Mont;
                        text-align: center;
                        text-transform: uppercase;
                        line-height: 6rem;
                    }
                }

                .sub-title{
                    width: 100%;

                    p{
                        font-size: 14px;
                        color: #fff;
                        font-family: $font-Noto;
                        text-align: center;
                        line-height: 4rem;
                    }
                }
            }

            .slick-slider{
                position: relative;
                width: 100%;
                height: 25rem;

                .slick-slide{
                    transform: scale(1);
        
                    .Project-item{
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        height: 100%;
                        color: #fff;
                        padding: 0 20px;
            
                        .Project-ImgBox{
                            position: relative;
                            width: 100%;
                            height: 15rem;
                            overflow: hidden;
            
                            img{
                                object-fit: cover;
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                            }

                            .Project-viewButton {
                                opacity: 0;
                            }

                            &::before{
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                content: '';
                                background-color: rgba($color: #000000, $alpha: 0.6);
                                z-index: 10;
                                opacity: 1;
                                transition: all 0.5s ease-in;
                                font-size: 2rem;
                            }
                        }
        
                        .Project-infoBox{
                            position: relative;
                            width: 100%;
                            height: 10rem;
                            padding : 2rem 0 0 0;
                            opacity: 0;
                            transition: all 0.5s ease-out;
        
                            .Project-type{
                                width: 100%;
                                line-height: 3rem;
                                font-size: 13px;
                                font-family: $font-Mont;
                            }
        
                            .title-category{
        
                                .title{
                                    font-size : 1.3rem;
                                    font-family: $font-Mont;
                                    line-height: 5rem;
                                }
        
                                .category{
                                    font-size: 12px;
                                }
                            }
                        }
                    }
                }
            }

            .slick-center{

                &.slick-slide{

                    .Project-item{
            
                        .Project-ImgBox{

                            &::before{
                                transition: all 0.5s ease-out;
                                opacity: 0;
                            }

                            &:hover{

                                .Project-viewButton{
                                    transition: all 0.5s ease-in;
                                    opacity: 1;
                                    cursor: pointer;
                                }
                            }
                        }

                        .Project-infoBox{
                            opacity: 1;
                            transition: all 0.5s ease-in;
                        }

                        .slide-status{
                            opacity: 1;
                            transition: all 0.5s ease-in;
                        }
                    }
                }
            }
        }
    }
}

/* 맥북 pc 반응형*/
@media screen and (min-width : 1440px) and (max-width : 1700px){

/*PC Main Page Banner*/
.Main-Banner{
    position: relative;
    width : 100%;
    height : 80vh;
    padding : 0 8.25rem;
    
    .Banner-Index{
        position: relative;
        top : 10%;
        width : 100%;
        height : 50%;
        transform: translateY(0);
        display: flex;
        justify-content: center;
        align-items: center;
        padding : 0;

        .Index-contentBox{
            position: relative;
            width : 60%;
            height : 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            color: #fff;

            .Index-title{
                width: 100%;
                height: 150px;
                line-height: 150px;

                h2{
                    font-size: 2.5rem;
                }
            }

            .Dynamic-TxtBox{

                .Dynamic-txt{
                    font-size: 1.5rem;
                }
            }
        }

        .Banner-img{
            position: relative;
            width : 30%;
            height: 100%;

            .circle-txtBox{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 180px;
                height: 180px;

                img{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 180px;
                    animation: rotateCircleTxt 10s linear infinite;
    
                    @keyframes rotateCircleTxt{
                        100%{
                            transform: translate(-50%, -50%) rotate(360deg);
                        }
                    }
                }
            }

            .owl-icon{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);

                img{
                    max-width: 30px;
                }
            }
        }
    }

    .scroll-down{
        position: absolute;
        bottom: 2rem;
        left: 50%;
        transform: translateX(-50%);
        width: 10rem;
        height: 6rem;
        color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;

        .scroll-icon{
            display: block;
            width: 2rem;
            height: 2rem;
            animation: scrollAnimate 2s infinite;
            opacity: 0;

            @keyframes scrollAnimate{
                50%{
                    opacity: 1;
                    transition-duration: 1s;
                    margin-top: 1rem;
                }

                100%{
                    opacity: 1;
                    transition-duration: 1s;
                    margin-top: 2rem;
                }
            }
        }

        h2{
            font-size: 1rem;
            font-family: $font-Mont;
            font-weight: bold;
        }
    }
}
    /*Project Page Banner*/
    .Project-Banner{

        .Slider-wrap{
            height: 50rem;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            padding-bottom: 0;

            .slick-slider{
                position: relative;
                width: 100%;
                height: 30rem;

                .slick-slide{
        
                    .Project-item{
                        padding: 0 50px;
            
                        .Project-ImgBox{
                            position: relative;
                            width: 100%;
                            height: 20rem;
                            overflow: hidden;

                            .Project-viewButton {
                                opacity: 0;
                            }

                            &::before{
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                content: '';
                                background-color: rgba($color: #000000, $alpha: 0.6);
                                z-index: 10;
                                opacity: 1;
                                transition: all 0.5s ease-in;
                                font-size: 2rem;
                            }
                        }
                    }
                }
            }

            .slick-center{

                &.slick-slide{

                    .Project-item{
            
                        .Project-ImgBox{

                            &::before{
                                transition: all 0.5s ease-out;
                                opacity: 0;
                            }

                            &:hover{

                                .Project-viewButton{
                                    transition: all 0.5s ease-in;
                                    opacity: 1;
                                    cursor: pointer;
                                }
                            }
                        }

                        .Project-infoBox{
                            opacity: 1;
                            transition: all 0.5s ease-in;
                        }

                        .slide-status{
                            opacity: 1;
                            transition: all 0.5s ease-in;
                        }
                    }
                }
            }
        }
    }
}
