@import '../variables';
@import '../ResponsiveMixin/mixin';

/*PC Main Page Banner*/
.Main-Banner{
    position: relative;
    width : 100%;
    height : 100vh;
    padding : 0 6.25rem;
    
    .Banner-Index{
        position: relative;
        top : 50%;
        width : 100%;
        height : 30rem;
        transform: translateY(-50%);
        display: flex;
        justify-content: center;
        align-items: center;

        .Index-contentBox{
            position: relative;
            width : 60%;
            height : 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            color: #fff;

            .Index-title{
                width: 100%;

                h1{
                    font-size: 2.2rem;
                    line-height: 150px;
                    font-family: $font-Mont;
                    font-weight: bold;
                    text-transform: uppercase;
                }
            }

            .Dynamic-TxtBox{
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                height: 150px;

                .Dynamic-txt{
                    display: block;
                    width: 50%;
                    height: 150px;
                    line-height: 150px;
                    overflow: hidden;
                    font-size: 1.5rem;
                    font-family: $font-Mont;
                    font-weight: 500;
                    text-transform: uppercase;

                    &::after{
                        content: '';
                        margin-left: .6rem;
                        border-right: 2px solid #777;
                        animation: cursor .9s infinite steps(2);
                    }
                }

                .Static-txt{
                    display: flex;
                    align-items: flex-end;
                    justify-content: flex-end;
                    width : 50%;
                    height: 100%;

                    h2{
                        width : 100%;
                        line-height: 150px;
                        font-size: 1rem;
                        font-family: $font-Noto;
                        font-weight: 100;
                    }
                }
            }
        }

        .Banner-imgBox{
            position: relative;
            width : 25%;
            height: 100%;

            .Developer-imgBox{
                position: relative;
                top: 0;
                left: 0;
                width : 100%;
                height : 100%;

                img{
                    position: absolute;
                    top: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                &::before{
                    position: absolute;
                    top: 0;
                    left: 0;
                    content: '';
                    width: 100%;
                    height: 100%;
                    background-color: rgba($color: #000000, $alpha: 0.5);
                    z-index: 10;
                }
            }
        }
    }

    .scroll-down{
        position: absolute;
        bottom: 2rem;
        left: 50%;
        transform: translateX(-50%);
        width: 10rem;
        height: 6rem;
        color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;

        .scroll-icon{
            display: block;
            font-size: 1.2rem;
            animation: scrollAnimate 2s infinite;
            opacity: 0;

            @keyframes scrollAnimate{
                50%{
                    opacity: 1;
                    transition-duration: 1s;
                    margin-top: 1rem;
                }

                100%{
                    opacity: 1;
                    transition-duration: 1s;
                    margin-top: 2rem;
                }
            }
        }

        h2{
            font-size: 15px;
            font-family: $font-Mont;
            font-weight: bold;
        }
    }
}

/* 맥북 반응형 */
@include macbook {
    .Main-Banner{
    
        .Banner-Index{
            position: relative;
            top : 50%;
            width : 100%;
            height : 22rem;
            transform: translateY(-50%);
            display: flex;
            justify-content: center;
            align-items: center;

            .Index-contentBox{
                width : 75%;

                .Index-title{
                    width: 100%;
                    height: 120px;
                    line-height: 120px;

                    h1{
                        font-size: 2rem;
                    }
                }

                .Dynamic-TxtBox{
                    height: 120px;

                    .Dynamic-txt{
                        height: 120px;
                        line-height: 120px;
                        font-size: 1.2rem;
                    }

                    .Static-txt{

                        h2{
                            width : 100%;
                            line-height: 120px;
                            font-size: 1rem;
                        }
                    }
                }
            }
        }

        .scroll-down{
            position: absolute;
            bottom: 2rem;
            left: 50%;
            transform: translateX(-50%);
            width: 10rem;
            height: 6rem;
            color: #fff;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            cursor: pointer;
    
            .scroll-icon{
                display: block;
                font-size: 1.3rem;
                animation: scrollAnimate 2s infinite;
                opacity: 0;
            }
    
            h2{
                font-size: 12px;
                font-family: $font-Mont;
                font-weight: bold;
            }
        }
    }
}

/* 노트북, 테블릿 가로 반응형 */
@include horizontalTablet {
    .Main-Banner{
        padding: 0 3rem;
        height: 50rem;
    
        .Banner-Index{
            height : 50%;
            display: flex;
            justify-content: center;
            align-items: center;

            .Index-contentBox{
                width : 60%;

                .Index-title{

                    h1{
                        line-height: 100px;
                        font-size: 1.5rem;
                    }
                }

                .Dynamic-TxtBox{
                    height: 100px;

                    .Dynamic-txt{
                        height: 100px;
                        line-height: 100px;
                        font-size: 1.2rem;
                    }

                    .Static-txt{

                        h2{
                            line-height: 100px;
                            font-size: 15px;
                        }
                    }
                }
            }

            .Banner-imgBox{
                width: 40%;

                .Developer-imgBox{
                    width : 100%;
                    height : 100%;
                }
            }
        }

        .scroll-down{
            bottom: 1rem;
            width: 10rem;
            height: 4rem;

            .scroll-icon{
                display: block;
                font-size: 1rem;
                animation: scrollAnimate 2s infinite;
                opacity: 0;

                @keyframes scrollAnimate{
                    50%{
                        opacity: 1;
                        transition-duration: 1s;
                        margin-top: 10px;
                    }

                    100%{
                        opacity: 1;
                        transition-duration: 1s;
                        margin-top: 20px;
                    }
                }
            }

            h2{
                font-size: 10px;
            }
        }
    }
}

@include verticalTablet {
    .Main-Banner{
        position: relative;
        width : 100%;
        height : 40rem;
        padding : 0 3.125rem;
        
        .Banner-Index{
            position: relative;
            top : 50%;
            width : 100%;
            height : 50%;
            transform: translateY(-50%);
            display: flex;
            justify-content: center;
            align-items: center;

            .Index-contentBox{
                position: relative;
                width : 60%;
                height : 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;
                color: #fff;

                .Index-title{
                    width: 100%;

                    h1{
                        font-size: 1.3rem;
                        line-height: 3.125rem;
                        font-family: $font-Mont;
                        font-weight: bold;
                        text-transform: uppercase;
                    }
                }

                .Dynamic-TxtBox{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: flex-start;
                    width: 100%;
                    height: 6rem;

                    .Dynamic-txt{
                        display: block;
                        width: 100%;
                        height: 3rem;
                        line-height: 3rem;
                        overflow: hidden;
                        font-size: 1rem;
                        font-family: $font-Mont;
                        font-weight: 500;
                        text-transform: uppercase;

                        &::after{
                            content: '';
                            margin-left: .6rem;
                            border-right: 2px solid #777;
                            animation: cursor .9s infinite steps(2);
                        }
                    }

                    .Static-txt{
                        display: flex;
                        align-items: flex-end;
                        justify-content: flex-end;
                        width : 100%;
                        height: 3rem;

                        h2{
                            width : 100%;
                            line-height: 3rem;
                            font-size: 13px;
                            font-family: $font-Noto;
                            font-weight: 100;
                        }
                    }
                }
            }

            .Banner-imgBox{
                position: relative;
                width : 40%;
                height: 100%;

                .Developer-imgBox{
                    position: relative;
                    top: 0;
                    left: 0;
                    width : 100%;
                    height : 100%;

                    img{
                        position: absolute;
                        top: 0;
                        left: 50%;
                        transform: translateX(-50%);
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }

                    &::before{
                        position: absolute;
                        top: 0;
                        left: 0;
                        content: '';
                        width: 100%;
                        height: 100%;
                        background-color: rgba($color: #000000, $alpha: 0.5);
                        z-index: 10;
                    }
                }
            }
        }

        .scroll-down{
            position: absolute;
            bottom: 1.5rem;
            left: 50%;
            transform: translateX(-50%);
            width: 10rem;
            height: 5rem;
            color: #fff;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            cursor: pointer;

            .scroll-icon{
                display: block;
                font-size: 1rem;
                animation: scrollAnimate 2s infinite;
                opacity: 0;

                @keyframes scrollAnimate{
                    50%{
                        opacity: 1;
                        transition-duration: 1s;
                        margin-top: 1rem;
                    }

                    100%{
                        opacity: 1;
                        transition-duration: 1s;
                        margin-top: 2rem;
                    }
                }
            }

            h2{
                font-size: 11px;
            }
        }
    }
}

@include mobile {
    /*PC Main Page Banner*/
    .Main-Banner{
        height: 38rem;
        padding : 0;
    
        .Banner-Index{
            position: relative;
            top : 50%;
            width : 100%;
            height : 100%;
            transform: translateY(-50%);
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .Index-contentBox{
                position: relative;
                width : 100%;
                height : 55%;
                padding: 5rem 3.125rem 2rem 3.125rem;

                .Index-title{

                    h1{
                        font-size: 1.4rem;
                        line-height: 4rem;
                    }
                }

                .Dynamic-TxtBox{
                    height: 50px;

                    .Dynamic-txt{
                        width: 60%;
                        height: 50px;
                        line-height: 50px;
                        font-size: 15px;
                    }

                    .Static-txt{
                        width : 40%;
                        height: 100%;

                        h2{
                            line-height: 50px;
                            font-size: 10px;
                        }
                    }
                }
            }

            .Banner-imgBox{
                position: relative;
                width : 100%;
                height: 40%;
            }
        }

        .scroll-down{
            bottom: 3rem;
            width: 10rem;
            height: 5rem;

            .scroll-icon{
                width: 25px;
                height: 25px;
                animation: scrollAnimate 2s infinite;

                @keyframes scrollAnimate{
                    50%{
                        opacity: 1;
                        transition-duration: 1s;
                        margin-top: 10px;
                    }

                    100%{
                        opacity: 1;
                        transition-duration: 1s;
                        margin-top: 20px;
                    }
                }
            }

            h2{
                font-size: 12px;
            }
        }
    }
}