@import '../variables';
@import '../ResponsiveMixin/mixin';

.Contact-container{
    position: relative;
    width: 100%;
    height: 55rem;
    padding: 5rem 0;

    .Contact-Box{
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1400px;
        margin: 0 auto;
        height: 45rem;

        .Contact-titleBox{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            width: 40%;
            height: 100%;

            .Contact-title{
                width: 100%;
                height: 5rem;

                h1{
                    width: 100%;
                    font-size: 1.8rem;
                    color: $white-color;
                    text-transform: uppercase;
                    font-family: $font-Mont;
                }
            }

            .Contact-subTxt{
                width: 100%;
                height: 20rem;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: space-between;
                color: $white-color;
                font-family: $font-Noto;

                h2{
                    font-size: 13px;
                    font-weight: bold;
                }

                p{
                    font-weight: 100;
                    font-size: 12px;
                }
            }

            .Contact-info{
                width: 100%;
                height: 10rem;

                h3{
                    font-size: 13px;
                    line-height: 5rem;
                    font-family: $font-Mont;
                    color: $white-color;
                }
            }
        }

        .Contact-Form{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            width: 40%;
            height: 45rem;

            .Name-Field{
                display: block;
                width: 100%;
                height: 6rem;

                h2{
                    width: 100%;
                    height: 2rem;
                    font-size: 1rem;
                    color: $white-color;
                    font-family: $font-Mont;
                }

                input{
                    width: 100%;
                    height: 3rem;
                    margin-top: 1rem;
                    font-size: 1rem;
                    padding: 0 1rem;
                    font-family: $font-Noto;
                    border: none;
                    border-bottom: 2px solid rgba(255,255,255,0.5);
                    background: none;
                    font-weight: bold;
                    color: $white-color;

                    &:focus{
                        outline: none;
                        border-bottom: 2px solid rgb(255,255,255);
                    }
                }
            }

            .Email-Field{
                display: block;
                width: 100%;
                height: 6rem;

                h2{
                    width: 100%;
                    height: 2rem;
                    font-size: 1rem;
                    color: $white-color;
                    font-family: $font-Mont;
                }

                input{
                    width: 100%;
                    height: 3rem;
                    margin-top: 1rem;
                    font-size: 1rem;
                    padding: 0 1rem;
                    font-family: $font-Noto;
                    font-weight: bold;
                    background-color: transparent;
                    border: none;
                    border-bottom: 2px solid rgba(255,255,255,0.5);
                    color: $white-color;

                    &:focus{
                        outline: none;
                        border-bottom: 2px solid rgb(255,255,255);
                    }
                }
            }

            .Message-Field{
                display: block;
                width: 100%;
                height: 21rem;

                h2{
                    width: 100%;
                    height: 2rem;
                    font-size: 1rem;
                    color: $white-color;
                    font-family: $font-Mont;
                }

                textarea{
                    width: 100%;
                    height: 18rem;
                    margin-top: 1rem;
                    font-size: 1rem;
                    font-family: $font-Noto;
                    padding: 1rem;
                    font-weight: bold;
                    background-color: transparent;
                    border: 2px solid rgba(255,255,255,0.5);
                    color: $white-color;
                }
            }

            .submit-button{
                display: block;
                width: 100%;
                height: 3rem;
                background-color: $darkMode-button;
                font-size: 1rem;
                font-family: $font-Mont;
                font-weight: bold;
                border: none;
                cursor: pointer;
                text-transform: uppercase;
                color: $white-color;
                transition: $ease-out;

                &:hover{
                    background-color: $button-hover;
                    transition: $ease-in;
                }
            }
        }
    }
}

/* 노트북 ~ 맥북 반응형 */
@include macbook {
    .Contact-container{
        position: relative;
        width: 100%;
        height: 100%;
        padding: 3rem 6.25rem;
    
        .Contact-Box{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            margin: 0;
            height: 40rem;
    
            .Contact-titleBox{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;
                width: 40%;
                height: 100%;
    
                .Contact-title{
                    width: 100%;
                    height: 5rem;
    
                    h1{
                        width: 100%;
                        font-size: 1.8rem;
                        color: $white-color;
                        text-transform: uppercase;
                        font-family: $font-Mont;
                    }
                }
    
                .Contact-subTxt{
                    width: 100%;
                    height: 15rem;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: space-between;
                    color: $white-color;
                    font-family: $font-Noto;
    
                    h2{
                        font-size: 13px;
                        font-weight: bold;
                    }
    
                    p{
                        font-weight: 100;
                        font-size: 12px;
                    }
                }
    
                .Contact-info{
                    width: 100%;
                    height: 10rem;
    
                    h3{
                        font-size: 13px;
                        line-height: 5rem;
                        font-family: $font-Mont;
                        color: $white-color;
                    }
                }
            }
    
            .Contact-Form{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;
                width: 40%;
                height: 40rem;
    
                .Name-Field{
                    height: 6rem;
    
                    h2{
                        font-size: 14px;
                    }
    
                    input{
                        width: 100%;
                        height: 3rem;
                        margin-top: 1rem;
                        font-size: 14px;
                        border: 2px solid rgba(255,255,255,0.5);
                        padding: 0 1rem;
    
                        &:focus{
                            outline: none;
                            border-bottom: 2px solid rgb(255,255,255);
                        }
                    }
                }
    
                .Email-Field{
                    height: 6rem;
    
                    h2{
                        font-size: 14px;
                    }
    
                    input{
                        width: 100%;
                        height: 3rem;
                        margin-top: 1rem;
                        font-size: 14px;
                        border: 2px solid rgba(255,255,255,0.5);
                        padding: 0 1rem;
    
                        &:focus{
                            outline: none;
                            border-bottom: 2px solid rgb(255,255,255);
                        }
                    }
                }
    
                .Message-Field{
                    display: block;
                    width: 100%;
                    height: 18rem;
    
                    h2{
                        width: 100%;
                        height: 2rem;
                        font-size: 14px;
                        color: $white-color;
                        font-family: $font-Mont;
                    }
    
                    textarea{
                        width: 100%;
                        height: 15rem;
                        margin-top: 1rem;
                        font-size: 14px;
                        font-family: $font-Noto;
                        font-weight: bold;
                        background-color: transparent;
                        border: 2px solid rgba(255,255,255,0.5);
                        color: $white-color;
                    }
                }
    
                .submit-button{
                    display: block;
                    width: 100%;
                    height: 3rem;
                    background-color: $darkMode-button;
                    font-size: 1rem;
                    font-family: $font-Mont;
                    font-weight: bold;
                    border: none;
                    cursor: pointer;
                    text-transform: uppercase;
                    color: $white-color;
                    transition: $ease-out;
    
                    &:hover{
                        background-color: $button-hover;
                        transition: $ease-in;
                    }
                }
            }
        }
    }
}

/* 테블릿 가로 ~ 노트북 반응형 */
@include horizontalTablet {
    .Contact-container{
        position: relative;
        width: 100%;
        height: 100%;
        padding: 3rem 6.25rem;
    
        .Contact-Box{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            margin: 0;
            height: 40rem;
    
            .Contact-titleBox{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;
                width: 40%;
                height: 100%;
    
                .Contact-title{
                    width: 100%;
                    height: 5rem;
    
                    h1{
                        width: 100%;
                        font-size: 1.8rem;
                        color: $white-color;
                        text-transform: uppercase;
                        font-family: $font-Mont;
                    }
                }
    
                .Contact-subTxt{
                    width: 100%;
                    height: 15rem;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: space-between;
                    color: $white-color;
                    font-family: $font-Noto;
    
                    h2{
                        font-size: 13px;
                        font-weight: bold;
                    }
    
                    p{
                        font-weight: 100;
                        font-size: 12px;
                    }
                }
    
                .Contact-info{
                    width: 100%;
                    height: 10rem;
    
                    h3{
                        font-size: 13px;
                        line-height: 5rem;
                        font-family: $font-Mont;
                        color: $white-color;
                    }
                }
            }
    
            .Contact-Form{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;
                width: 40%;
                height: 40rem;
    
                .Name-Field{
                    height: 6rem;
    
                    h2{
                        font-size: 14px;
                    }
    
                    input{
                        width: 100%;
                        height: 3rem;
                        margin-top: 1rem;
                        font-size: 14px;
                        border: 2px solid rgba(255,255,255,0.5);
                        padding: 0 1rem;
    
                        &:focus{
                            outline: none;
                            border-bottom: 2px solid rgb(255,255,255);
                        }
                    }
                }
    
                .Email-Field{
                    height: 6rem;
    
                    h2{
                        font-size: 14px;
                    }
    
                    input{
                        width: 100%;
                        height: 3rem;
                        margin-top: 1rem;
                        font-size: 14px;
                        border: 2px solid rgba(255,255,255,0.5);
                        padding: 0 1rem;
    
                        &:focus{
                            outline: none;
                            border-bottom: 2px solid rgb(255,255,255);
                        }
                    }
                }
    
                .Message-Field{
                    display: block;
                    width: 100%;
                    height: 18rem;
    
                    h2{
                        width: 100%;
                        height: 2rem;
                        font-size: 14px;
                        color: $white-color;
                        font-family: $font-Mont;
                    }
    
                    textarea{
                        width: 100%;
                        height: 15rem;
                        margin-top: 1rem;
                        font-size: 14px;
                        font-family: $font-Noto;
                        font-weight: bold;
                        background-color: transparent;
                        border: 2px solid rgba(255,255,255,0.5);
                        color: $white-color;
                    }
                }
    
                .submit-button{
                    display: block;
                    width: 100%;
                    height: 3rem;
                    background-color: $darkMode-button;
                    font-size: 1rem;
                    font-family: $font-Mont;
                    font-weight: bold;
                    border: none;
                    cursor: pointer;
                    text-transform: uppercase;
                    color: $white-color;
                    transition: $ease-out;
    
                    &:hover{
                        background-color: $button-hover;
                        transition: $ease-in;
                    }
                }
            }
        }
    }
}

@include verticalTablet {
    .Contact-container{
        position: relative;
        width: 100%;
        height: 100%;
        padding: 3.125rem;
    
        .Contact-Box{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 65rem;
    
            .Contact-titleBox{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;
                width: 100%;
                height: 25rem;
    
                .Contact-title{
                    width: 100%;
                    height: 5rem;
    
                    h1{
                        font-size: 1.5rem;
                        color: $white-color;
                        text-transform: uppercase;
                        font-family: $font-Mont;
                    }
                }
    
                .Contact-subTxt{
                    width: 100%;
                    height: 12rem;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: space-between;
                    color: $white-color;
                    font-family: $font-Noto;
    
                    h2{
                        font-size: 13px;
                        font-weight: bold;
                    }
    
                    p{
                        width: 100%;
                        font-weight: 100;
                        font-size: 12px;
                    }
                }
    
                .Contact-info{
                    width: 100%;
                    height: 6rem;
    
                    h3{
                        font-size: 13px;
                        line-height: 3rem;
                        font-family: $font-Mont;
                        color: $white-color;
                    }
                }
            }
    
            .Contact-Form{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;
                width: 100%;
                height: 35rem;
    
                .Name-Field{
                    display: block;
                    width: 100%;
                    height: 5rem;
    
                    h2{
                        width: 100%;
                        height: 2rem;
                        font-size: 13px;
                        color: $white-color;
                        font-family: $font-Mont;
                    }
    
                    input{
                        width: 100%;
                        height: 2rem;
                        margin-top: 1rem;
                        font-size: 12px;
                        font-family: $font-Noto;
                        border: 2px solid rgba($color: #fff, $alpha: 0.3);
                        border-bottom: 2px solid rgba($color: #fff, $alpha: 0.3);
                        background: none;
                        font-weight: bold;
                        color: $white-color;
                        padding: 1rem;
    
                        &:focus{
                            outline: none;
                            border-bottom: 2px solid rgba($color: #fff, $alpha: 0.3);
                        }
                    }
                }
    
                .Email-Field{
                    display: block;
                    width: 100%;
                    height: 5rem;
    
                    h2{
                        width: 100%;
                        height: 2rem;
                        font-size: 13px;
                        color: $white-color;
                        font-family: $font-Mont;
                    }
    
                    input{
                        width: 100%;
                        height: 2rem;
                        margin-top: 1rem;
                        font-size: 12px;
                        font-family: $font-Noto;
                        border: 2px solid rgba($color: #fff, $alpha: 0.3);
                        border-bottom: 2px solid rgba($color: #fff, $alpha: 0.3);
                        background: none;
                        font-weight: bold;
                        color: $white-color;
                        padding: 1rem;
    
                        &:focus{
                            outline: none;
                            border-bottom: 2px solid rgba($color: #fff, $alpha: 0.3);
                        }
                    }
                }
    
                .Message-Field{
                    height: 15rem;
    
                    h2{
                        height: 2rem;
                        font-size: 13px;
                    }
    
                    textarea{
                        height: 12rem;
                        font-size: 12px;
                        border: 2px solid rgba(255,255,255,0.3);
                        color: $white-color;

                        &:focus{
                            outline: none;
                        }
                    }
                }
    
                .submit-button{
                    display: block;
                    width: 100%;
                    height: 3rem;
                    font-size: 12px;
                }
            }
        }
    }
}

@include mobile {
    .Contact-container{
        position: relative;
        width: 100%;
        height: 100%;
        padding: 3.125rem;
    
        .Contact-Box{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 68rem;
    
            .Contact-titleBox{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;
                width: 100%;
                height: 28rem;
    
                .Contact-title{
                    width: 100%;
                    height: 5rem;
    
                    h1{
                        font-size: 1.2rem;
                        color: $white-color;
                        text-transform: uppercase;
                        font-family: $font-Mont;
                    }
                }
    
                .Contact-subTxt{
                    width: 100%;
                    height: 12rem;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: space-between;
                    color: $white-color;
                    font-family: $font-Noto;
    
                    h2{
                        font-size: 12px;
                        font-weight: bold;
                    }
    
                    p{
                        width: 100%;
                        font-weight: 100;
                        font-size: 10px;
                    }
                }
    
                .Contact-info{
                    width: 100%;
                    height: 6rem;
    
                    h3{
                        font-size: 12px;
                        line-height: 3rem;
                        font-family: $font-Mont;
                        color: $white-color;
                    }
                }
            }
    
            .Contact-Form{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;
                width: 100%;
                height: 35rem;
    
                .Name-Field{
                    display: block;
                    width: 100%;
                    height: 5rem;
    
                    h2{
                        width: 100%;
                        height: 2rem;
                        font-size: 13px;
                        color: $white-color;
                        font-family: $font-Mont;
                    }
    
                    input{
                        width: 100%;
                        height: 2rem;
                        margin-top: 1rem;
                        font-size: 12px;
                        font-family: $font-Noto;
                        border: 2px solid rgba($color: #fff, $alpha: 0.3);
                        border-bottom: 2px solid rgba($color: #fff, $alpha: 0.3);
                        background: none;
                        font-weight: bold;
                        color: $white-color;
                        padding: 1rem;
    
                        &:focus{
                            outline: none;
                            border-bottom: 2px solid rgba($color: #fff, $alpha: 0.3);
                        }
                    }
                }
    
                .Email-Field{
                    display: block;
                    width: 100%;
                    height: 5rem;
    
                    h2{
                        width: 100%;
                        height: 2rem;
                        font-size: 13px;
                        color: $white-color;
                        font-family: $font-Mont;
                    }
    
                    input{
                        width: 100%;
                        height: 2rem;
                        margin-top: 1rem;
                        font-size: 12px;
                        font-family: $font-Noto;
                        border: 2px solid rgba($color: #fff, $alpha: 0.3);
                        border-bottom: 2px solid rgba($color: #fff, $alpha: 0.3);
                        background: none;
                        font-weight: bold;
                        color: $white-color;
                        padding: 1rem;
    
                        &:focus{
                            outline: none;
                            border-bottom: 2px solid rgba($color: #fff, $alpha: 0.3);
                        }
                    }
                }
    
                .Message-Field{
                    height: 15rem;
    
                    h2{
                        height: 2rem;
                        font-size: 13px;
                    }
    
                    textarea{
                        height: 12rem;
                        font-size: 12px;
                        border: 2px solid rgba(255,255,255,0.3);
                        color: $white-color;

                        &:focus{
                            outline: none;
                        }
                    }
                }
    
                .submit-button{
                    display: block;
                    width: 100%;
                    height: 3rem;
                    font-size: 12px;
                }
            }
        }
    }
}