@import "../Variables.scss";

.Contact-container{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 5%;

    .Contact-Box{
        padding: 0 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100%;

        .Contact-titleBox{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            width: 40%;
            height: 100%;
            border-top: 2px solid #fff;

            .Contact-title{
                width: 100%;
                height: 10rem;
                font-size: 1.5rem;
                line-height: 10rem;
                color: #fff;
                text-transform: uppercase;
                font-family: $font-Mont;
            }

            .Contact-subTxt{
                width: 100%;
                height: 25rem;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: space-around;
                color: #fff;
                font-family: $font-Noto;

                h2{
                    font-size: 1.1rem;
                    font-weight: bold;
                }

                p{
                    font-weight: 100;
                    font-size: 1rem;
                }
            }

            .Contact-info{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: space-around;
                width: 100%;
                height: 10rem;

                h3{
                    font-size: 1.2rem;
                    font-family: $font-Mont;
                    color: #fff;
                }
            }
        }

        .Contact-Form{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            width: 40%;
            height: 100%;

            .Name-Field{
                display: block;
                width: 100%;
                height: 8rem;

                h2{
                    width: 100%;
                    height: 3rem;
                    font-size: 1.2rem;
                    line-height: 3rem;
                    color: #fff;
                    font-family: $font-Mont;
                }

                input{
                    width: 100%;
                    height: 3rem;
                    margin-top: 2rem;
                    font-size: 1rem;
                    font-family: $font-Noto;
                    padding: 0 1rem;
                    border: none;
                    border-bottom: 2px solid rgba(255,255,255,0.5);
                    background: none;
                    font-weight: bold;
                    color: #fff;

                    &:focus{
                        outline: none;
                    }
                }
            }

            .Email-Field{
                display: block;
                width: 100%;
                height: 8rem;

                h2{
                    width: 100%;
                    height: 3rem;
                    font-size: 1.2rem;
                    color: #fff;
                    font-family: $font-Mont;
                    line-height: 3rem;
                }

                input{
                    width: 100%;
                    height: 3rem;
                    margin-top: 2rem;
                    font-size: 1rem;
                    font-family: $font-Noto;
                    padding: 0 1rem;
                    font-weight: bold;
                    background-color: transparent;
                    border: none;
                    border-bottom: 2px solid rgba(255,255,255,0.5);
                    color: #fff;

                    &:focus{
                        outline: none;
                    }
                }
            }

            .Message-Field{
                display: block;
                width: 100%;
                height: 23rem;

                h2{
                    width: 100%;
                    height: 3rem;
                    line-height: 3rem;
                    font-size: 1.2rem;
                    color: #fff;
                    font-family: $font-Mont;
                }

                textarea{
                    width: 100%;
                    height: 18rem;
                    margin-top: 2rem;
                    font-size: 1rem;
                    font-family: $font-Noto;
                    font-weight: bold;
                    background-color: transparent;
                    border: 2px solid rgba(255,255,255,0.5);
                    color: #fff;
                    padding : 1rem;
                }
            }

            .submit-button{
                display: block;
                width: 100%;
                height: 3rem;
                background-color: #fff;
                font-size: 1.2rem;
                font-family: $font-Mont;
                font-weight: bold;
                border: none;
                cursor: pointer;
            }
        }
    }
}

@media screen and (max-width : 1440px){
    .Contact-container{
        padding: 5% 2rem;
    
        .Contact-Box{
    
            .Contact-titleBox{
    
                .Contact-title{
                    font-size: 1.3rem;
                }
    
                .Contact-subTxt{
    
                    h2{
                        font-size: 1rem;
                    }
    
                    p{
                        font-size: 14px;
                    }
                }
    
                .Contact-info{
    
                    h3{
                        font-size: 1rem;
                    }
                }
            }
    
            .Contact-Form{
    
                .Name-Field{
                    height: 7rem;
                    margin-bottom: 1rem;
    
                    h2{
                        height: 2rem;
                        font-size: 1.1rem;
                    }
    
                    input{
                        width: 100%;
                        height: 3rem;
                        margin-top: 2rem;
                        font-size: 15px;
    
                        &:focus{
                            outline: none;
                        }
                    }
                }
    
                .Email-Field{
                    height: 7rem;
                    margin-bottom: 1rem;
    
                    h2{
                        height: 2rem;
                        font-size: 1.2rem;
                    }
    
                    input{
                        width: 100%;
                        height: 3rem;
                        margin-top: 2rem;
                        font-size: 15px;
    
                        &:focus{
                            outline: none;
                        }
                    }
                }
    
                .Message-Field{
                    display: block;
                    width: 100%;
                    height: 23rem;
    
                    h2{
                        width: 100%;
                        height: 3rem;
                        font-size: 1.2rem;
                    }
    
                    textarea{
                        height: 15rem;
                        font-size: 15px;
                    }
                }
    
                .submit-button{
                    display: block;
                    width: 100%;
                    height: 2.5rem;
                    font-size: 1rem;
                }
            }
        }
    }
}

@media screen and (max-width : 1040px) {
    .Contact-container{
        position: relative;
        width: 100%;
        height: max-content;
        padding: 0 0 100px 0;
    
        .Contact-Box{
            padding: 0 2rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 80rem;
    
            .Contact-titleBox{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;
                width: 100%;
                height: 30rem;
                border-top: none;
    
                .Contact-title{
                    width: 100%;
                    height: 5rem;
                    font-size: 17px;
                    line-height: 5rem;
                    color: #fff;
                    text-transform: uppercase;
                    font-family: $font-Mont;
                }
    
                .Contact-subTxt{
                    width: 100%;
                    height: 20rem;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: space-around;
                    color: #fff;
                    font-family: $font-Noto;
    
                    h2{
                        font-size: 1rem;
                        font-weight: bold;
                    }
    
                    p{
                        font-weight: 100;
                        font-size: 13px;
                        word-break: keep-all;
                    }
                }
    
                .Contact-info{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: space-between;
                    width: 100%;
                    height: 5rem;
    
                    h3{
                        font-size: 1rem;
                        font-family: $font-Mont;
                        color: #fff;
                    }
                }
            }
    
            .Contact-Form{
                margin-top: 50px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;
                width: 100%;
                height: 50rem;
    
                .Name-Field{
                    display: block;
                    width: 100%;
                    height: 7rem;
    
                    h2{
                        width: 100%;
                        height: 3rem;
                        font-size: 1rem;
                        line-height: 3rem;
                    }
    
                    input{
                        margin-top: 1rem;
                        font-size: 13px;
                        font-family: $font-Noto;
                        padding: 0 1rem;
                    }
                }
    
                .Email-Field{
                    display: block;
                    width: 100%;
                    height: 7rem;
    
                    h2{
                        width: 100%;
                        height: 3rem;
                        font-size: 1rem;
                        line-height: 3rem;
                    }
    
                    input{
                        width: 100%;
                        height: 3rem;
                        margin-top: 1rem;
                        font-size: 13px;
                    }
                }
    
                .Message-Field{
                    display: block;
                    width: 100%;
                    height: 22rem;
    
                    h2{
                        width: 100%;
                        height: 3rem;
                        line-height: 3rem;
                        font-size: 1rem;
                        color: #fff;
                        font-family: $font-Mont;
                    }
    
                    textarea{
                        width: 100%;
                        height: 18rem;
                        margin-top: 1rem;
                        font-size: 13px;
                    }
                }
    
                .submit-button{
                    display: block;
                    width: 100%;
                    height: 2.5rem;
                    background-color: transparent;
                    border: 2px solid #fff;
                    color: #fff;
                    font-size: 1rem;
                    font-family: $font-Mont;
                    font-weight: bold;
                    cursor: pointer;
                }
            }
        }
    }
}