@import '../variables';
@import '../mixin/mixin';

.Contact-container{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 5rem 6.25rem;

    .Contact-Box{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 90%;

        .Contact-titleBox{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            width: 40%;
            height: 100%;

            .Contact-title{
                width: 100%;
                height: 5rem;
                font-size: 1.5rem;
                line-height: 5rem;
                color: #fff;
                text-transform: uppercase;
                font-family: $font-Mont;
            }

            .Contact-subTxt{
                width: 100%;
                height: 20rem;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: space-between;
                color: #fff;
                font-family: $font-Noto;

                h2{
                    font-size: 1.1rem;
                    font-weight: bold;
                }

                p{
                    font-weight: 100;
                    font-size: 1rem;
                }
            }

            .Contact-info{
                width: 100%;
                height: 10rem;

                h3{
                    font-size: 1.2rem;
                    line-height: 5rem;
                    font-family: $font-Mont;
                    color: #fff;
                }
            }
        }

        .Contact-Form{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            width: 40%;
            height: 100%;

            .Name-Field{
                display: block;
                width: 100%;
                height: 8rem;

                h2{
                    width: 100%;
                    height: 3rem;
                    font-size: 1.2rem;
                    line-height: 3rem;
                    color: #fff;
                    font-family: $font-Mont;
                }

                input{
                    width: 100%;
                    height: 3rem;
                    margin-top: 1rem;
                    font-size: 1rem;
                    font-family: $font-Noto;
                    border: none;
                    border-bottom: 2px solid rgba(255,255,255,0.5);
                    background: none;
                    font-weight: bold;
                    color: #fff;

                    &:focus{
                        outline: none;
                        border-bottom: 2px solid rgb(255,255,255);
                    }
                }
            }

            .Email-Field{
                display: block;
                width: 100%;
                height: 8rem;

                h2{
                    width: 100%;
                    height: 3rem;
                    font-size: 1.2rem;
                    color: #fff;
                    font-family: $font-Mont;
                    line-height: 3rem;
                }

                input{
                    width: 100%;
                    height: 3rem;
                    margin-top: 1rem;
                    font-size: 1rem;
                    font-family: $font-Noto;
                    font-weight: bold;
                    background-color: transparent;
                    border: none;
                    border-bottom: 2px solid rgba(255,255,255,0.5);
                    color: #fff;

                    &:focus{
                        outline: none;
                        border-bottom: 2px solid rgb(255,255,255);
                    }
                }
            }

            .Message-Field{
                display: block;
                width: 100%;
                height: 23rem;

                h2{
                    width: 100%;
                    height: 3rem;
                    line-height: 3rem;
                    font-size: 1.2rem;
                    color: #fff;
                    font-family: $font-Mont;
                }

                textarea{
                    width: 100%;
                    height: 18rem;
                    margin-top: 1rem;
                    font-size: 1rem;
                    font-family: $font-Noto;
                    font-weight: bold;
                    background-color: transparent;
                    border: 2px solid rgba(255,255,255,0.5);
                    color: #fff;
                }
            }

            .submit-button{
                display: block;
                width: 100%;
                height: 3rem;
                background-color: $darkMode-button;
                font-size: 1rem;
                font-family: $font-Mont;
                font-weight: bold;
                border: none;
                cursor: pointer;
                text-transform: uppercase;
                color: #fff;

                &:hover{
                    background-color: rgba($color: #a8a8a8, $alpha: 0.5);
                }
            }
        }
    }
}

/* 노트북 ~ 맥북 반응형 */
@include macbook {
    .Contact-container{
        padding: 3rem 6.25rem;
    
        .Contact-Box{
    
            .Contact-titleBox{
    
                .Contact-title{
                    width: 100%;
                    height: 5rem;
                    font-size: 1.2rem;
                    line-height: 5rem;
                    color: #fff;
                    text-transform: uppercase;
                    font-family: $font-Mont;
                }
    
                .Contact-subTxt{
                    width: 100%;
                    height: 15rem;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: space-between;
                    color: #fff;
                    font-family: $font-Noto;
    
                    h2{
                        font-size: 1rem;
                        font-weight: bold;
                    }
    
                    p{
                        font-weight: 100;
                        font-size: 14px;
                    }
                }
    
                .Contact-info{
                    width: 100%;
                    height: 7rem;
    
                    h3{
                        font-size: 1.2rem;
                        line-height: 3.5rem;
                        font-family: $font-Mont;
                        color: #fff;
                    }
                }
            }
    
            .Contact-Form{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;
                width: 40%;
                height: 100%;
    
                .Name-Field{
                    height: 7rem;
    
                    h2{
                        height: 2rem;
                        font-size: 1rem;
                        line-height: 2rem;
                    }

                    input{
                        margin-top: 0;
                    }
                }
    
                .Email-Field{
                    height: 7rem;
    
                    h2{
                        height: 2rem;
                        font-size: 1.2rem;
                        line-height: 2rem;
                    }

                    input{
                        margin-top: 0;
                    }
                }
    
                .Message-Field{
                    height: 23rem;
    
                    h2{
                        height: 2rem;
                        line-height: 2rem;
                        font-size: 1rem;
                    }
    
                    textarea{
                        height: 15rem;
                        margin-top: 1rem;
                        font-size: 1rem;
                    }
                }
    
                .submit-button{
                    font-size: 12px;
                }
            }
        }
    }
}

/* 테블릿 가로 ~ 노트북 반응형 */
@include horizontalTablet {
    .Contact-container{
        position: relative;
        width: 100%;
        height: 100vh;
        padding: 3rem;
    
        .Contact-Box{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 90%;
    
            .Contact-titleBox{
    
                .Contact-title{
                    font-size: 1.1rem;
                }
    
                .Contact-subTxt{
                    height: 12rem;
    
                    h2{
                        font-size: 14px;
                    }
    
                    p{
                        font-size: 12px;
                    }
                }
    
                .Contact-info{
                    height: 6rem;
    
                    h3{
                        font-size: 1rem;
                        line-height: 3rem;
                    }
                }
            }
    
            .Contact-Form{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;
                width: 50%;
                height: 95%;
    
                .Name-Field{
                    height: 20%;
    
                    h2{
                        height: 40%;
                        font-size: 1rem;
                    }

                    input{
                        height: 40%;
                        font-size: 12px;
                        margin-top: 1rem;
                    }
                }
    
                .Email-Field{
                    height: 20%;
    
                    h2{
                        height: 40%;
                        font-size: 1rem;
                    }

                    input{
                        height: 40%;
                        font-size: 12px;
                        margin-top: 1rem;
                    }
                }
    
                .Message-Field{
                    height: 60%;
    
                    h2{
                        height: 20%;
                        font-size: 1rem;
                    }
    
                    textarea{
                        height: 60%;
                        margin-top: 1rem;
                        font-size: 12px;
                    }
                }
    
                .submit-button{
                    height: 2.5rem;
                    font-size: 14px;
                }
            }
        }
    }
}

@include mobile {
    .Contact-container{
        position: relative;
        width: 100%;
        height: max-content;
        padding: 2rem 3.125rem;
    
        .Contact-Box{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 80rem;
    
            .Contact-titleBox{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;
                width: 100%;
                height: 40%;
    
                .Contact-title{
                    width: 100%;
                    height: 2rem;
                    font-size: 1rem;
                    line-height: 2rem;
                    color: #fff;
                    text-transform: uppercase;
                    font-family: $font-Mont;
                }
    
                .Contact-subTxt{
                    width: 100%;
                    height: 12rem;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: space-between;
                    color: #fff;
                    font-family: $font-Noto;
    
                    h2{
                        font-size: 12px;
                        font-weight: bold;
                    }
    
                    p{
                        font-weight: 100;
                        font-size: 10px;
                    }
                }
    
                .Contact-info{
                    width: 100%;
                    height: 5rem;
    
                    h3{
                        font-size: 12px;
                        line-height: 2rem;
                        font-family: $font-Mont;
                        color: #fff;
                        margin-bottom: 1rem;

                        &:nth-child(2){
                            margin-bottom: 0;
                        }
                    }
                }
            }
    
            .Contact-Form{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;
                width: 100%;
                height: 55%;
    
                .Name-Field{
                    display: block;
                    width: 100%;
                    height: 5rem;
    
                    h2{
                        height: 2rem;
                        font-size: 1rem;
                        line-height: 2rem;
                    }
    
                    input{
                        height: 2rem;
                        margin-top: 1rem;
                        font-size: 12px;
                    }
                }
    
                .Email-Field{
                    display: block;
                    width: 100%;
                    height: 5rem;
    
                    h2{
                        height: 2rem;
                        font-size: 1rem;
                        line-height: 2rem;
                    }
    
                    input{
                        height: 2rem;
                        margin-top: 1rem;
                        font-size: 12px;
                    }
                }
    
                .Message-Field{
                    display: block;
                    width: 100%;
                    height: 18rem;
    
                    h2{
                        height: 2rem;
                        line-height: 2rem;
                        font-size: 1rem;
                    }
    
                    textarea{
                        width: 100%;
                        height: 15rem;
                        margin-top: 1rem;
                        font-size: 1rem;
                        font-family: $font-Noto;
                        font-weight: bold;
                        background-color: transparent;
                        border: 2px solid rgba(255,255,255,0.5);
                        color: #fff;
                    }
                }
    
                .submit-button{
                    height: 2.5rem;
                    font-size: 13px;
                }
            }
        }
    }
}