@import "asset/_variables";
@import "asset/ResponsiveMixin/_mixin";

.currentProject-container {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding : 6.25rem 0 0 0;

    .project-banner{
        width: 100%;
        height: 100%;
        padding-top: 3rem;

        .project-info {
            width: 100%;
            height: 100%;

            .project-detail {
                width: 60rem;
                height: 30rem;
                margin: 0 auto;

                .detail-info {
                    width: 100%;
                    height: 18rem;

                    .detail-item {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        width: 100%;
                        height: calc(18rem / 5);

                        .title {
                            width: 30%;
                            height: 100%;

                            h1 {
                                height: calc(18rem / 5);
                                font-family: $font-Mont;
                                color: #fff;
                                font-size: 15px;
                                text-transform: uppercase;
                            }
                        }

                        .detail-txt {
                            display: flex;
                            align-items: flex-start;
                            width: 70%;
                            height: 100%;

                            p {
                                height: 100%;
                                color: #fff;
                                font-family: $font-Mont;
                                font-size: 15px;
                            }

                            a {
                                height: 100%;
                                color: #fff;
                                font-family: $font-Mont;
                                font-size: 15px;
                                font-weight: bold;
                            }
                        }
                    }
                }

                .project-desc {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    width: 100%;
                    height: 12rem;

                    p {
                        width: 100%;
                        word-break: keep-all;
                        color: #fff;
                        font-family: $font-Noto;
                        font-size: 15px;
                    }
                }
            }

            .project-video {
                width: 60rem;
                height: 100%;
                margin: 3rem auto 0 auto;

                .title {
                    width: 100%;
                    height: 6.25rem;

                    h1 {
                        font-family: $font-Mont;
                        text-transform: uppercase;
                        color: #fff;
                        font-size: 1.2rem;
                    }
                }

                .project-banner {
                    position: relative;
                    width: 100%;
                    height: 30rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
    
                    video {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
    }

    .project-Board {
        width: 100%;
        height: 100%;
        padding: 5rem 0;

        .project-Skills {
            width: 60rem;
            height: 12rem;
            margin : 2rem auto;

            .title {
                width: 100%;
                height: 4rem;
                
                h2{
                    font-size: 1.2rem;
                    color: #fff;
                    font-family: $font-Mont;
                    text-transform : uppercase;
                }
            }

            .Skills-list {
                width: 100%;
                height: 8rem;

                li {
                    display: inline-block;
                    width: max-content;
                    height: 3rem;
                    margin : 0 1rem 1rem 0;

                    .Skill-item {
                        width: 100%;
                        height: 100%;
                        background-color: $darkMode-button;

                        &:hover {
                            background-color: $button-hover;
                        }

                        span {
                            line-height: 3rem;
                            color: #fff;
                            font-family: $font-Mont;
                            font-size: 14px;
                            font-weight: bold;
                            padding: 1rem;
                            text-transform: uppercase;
                        }
                    }
                }
            }
        }

        .page-preview {
            width: 60rem;
            height: 40rem;
            margin: 0 auto;

            .preview-titleWrap {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                width: 100%;
                height: 6.25rem;

                .title {
                    width: max-content;
                    height: 100%;

                    h1 {
                        line-height: 3rem;
                        color: #fff;
                        font-family: $font-Mont;
                        font-size: 1.2rem;
                        text-transform: uppercase;
                    }
                }

                .slide-control {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 10rem;
                    height: 3rem;

                    .prev-button {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 3rem;
                        height: 3rem;
                        cursor: pointer;
                        background-color: rgba(119, 119, 119, 0.3);
                        border-radius: 50%;

                        &:hover {
                            background-color: rgba(255, 255, 255, 0.5);
                        }

                        svg {
                            font-size: 1.2rem;
                            color: #fff;
                        }
                    }

                    .next-button {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 3rem;
                        height: 3rem;
                        cursor: pointer;
                        background-color: rgba(119, 119, 119, 0.3);
                        border-radius: 50%;

                        &:hover {
                            background-color: rgba(255, 255, 255, 0.5);
                        }

                        svg {
                            font-size: 1.2rem;
                            color: #fff;
                        }
                    }
                }
            }

            .preview-slider {
                position: relative;
                left: 50%;
                transform: translateX(-50%);
                width: 90vw;
                height: 30rem;
                overflow: hidden;
                padding : 0 40%;

                .preview-image {
                    width: 100%;
                    height: 100%;
                    border: 3px solid rgba(119, 119, 119, 0.3);
                    border-radius: 10px;
                    overflow: hidden;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
    }
}

@include macbook {
    .currentProject-container {
        padding : 5rem 0 0 0;
    
        .project-banner{
    
            .project-info {
    
                .project-detail {
                    width: 50rem;
                    height: 28rem;
                    margin: 0 auto;
    
                    .detail-info {
    
                        .detail-item {
    
                            .title {
    
                                h1 {
                                    font-size: 14px;
                                }
                            }
    
                            .detail-txt {
    
                                p {
                                    font-size: 13px;
                                }
    
                                a {
                                    font-size: 13px;
                                }
                            }
                        }
                    }
    
                    .project-desc {
                        height: 10rem;
    
                        p {
                            font-size: 13px;
                        }
                    }
                }
    
                .project-video {
                    width: 50rem;
                    height: 100%;
                    margin: 3rem auto 0 auto;
    
                    .title {
                        width: 100%;
                        height: 6.25rem;
    
                        h1 {
                            font-size: 1rem;
                        }
                    }
    
                    .project-banner {
                        height: 25rem;
                    }
                }
            }
        }
    
        .project-Board {
    
            .project-Skills {
                width: 50rem;
    
                .title {
                    
                    h2{
                        font-size: 1rem;
                    }
                }
    
                .Skills-list {
    
                    li {
    
                        .Skill-item {
                            width: 100%;
                            height: 100%;
                            background-color: $darkMode-button;
    
                            &:hover {
                                background-color: $button-hover;
                            }
    
                            span {
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
    
            .page-preview {
                width: 50rem;
                height: 30rem;
    
                .preview-titleWrap {
    
                    .title {
                        width: max-content;
                        height: 100%;
    
                        h1 {
                            font-size: 1rem;
                            line-height: 2.5rem;
                        }
                    }
    
                    .slide-control {
    
                        .prev-button {
                            width: 2.5rem;
                            height: 2.5rem;
                        }
    
                        .next-button {
                            width: 2.5rem;
                            height: 2.5rem;
                        }
                    }
                }
    
                .preview-slider {
                    position: relative;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 80vw;
                    height: 20rem;
                    overflow: hidden;
                    padding : 0 30%;
    
                    .preview-image {
                        width: 100%;
                        height: 100%;
                        border: 3px solid rgba(119, 119, 119, 0.3);
                        border-radius: 10px;
                        overflow: hidden;
    
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }
            }
        }
    }
}

@include horizontalTablet {
    .currentProject-container {
        padding : 5rem 0 0 0;
    
        .project-banner{
    
            .project-info {
    
                .project-detail {
                    width: 70%;
                    height: 28rem;
                    margin: 0 auto;
    
                    .detail-info {
                        width: 100%;
                        height: 18rem;
    
                        .detail-item {
    
                            .title {
    
                                h1 {
                                    font-size: 13px;
                                }
                            }
    
                            .detail-txt {
    
                                p {
                                    font-size: 12px;
                                }
    
                                a {
                                    font-size: 12px;
                                }
                            }
                        }
                    }
    
                    .project-desc {
                        height: 10rem;
    
                        p {
                            font-size: 13px;
                        }
                    }
                }
    
                .project-video {
                    width: 45rem;
                    height: 100%;
                    margin: 3rem auto 0 auto;
    
                    .title {
                        width: 100%;
                        height: 6.25rem;
    
                        h1 {
                            font-size: 1rem;
                        }
                    }
    
                    .project-banner {
                        position: relative;
                        width: 100%;
                        height: 22rem;
        
                        video {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }
            }
        }
    
        .project-Board {
    
            .project-Skills {
                width: 45rem;
    
                .title {
                    
                    h2{
                        font-size: 1rem;
                    }
                }
    
                .Skills-list {
    
                    li {
    
                        .Skill-item {
                            width: 100%;
                            height: 100%;
                            background-color: $darkMode-button;
    
                            &:hover {
                                background-color: $button-hover;
                            }
    
                            span {
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
    
            .page-preview {
                width: 80%;
                height: 30rem;
                margin: 5rem auto 0 auto;
    
                .preview-titleWrap {
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-start;
    
                    .title {
    
                        h1 {
                            line-height: 2.5rem;
                            font-size: 1rem;
                        }
                    }
    
                    .slide-control {
                        width: 10rem;
                        height: 2.5rem;
    
                        .prev-button {
                            width: 2.5rem;
                            height: 2.5rem;
    
                            &:hover {
                                background-color: rgba(255, 255, 255, 0.5);
                            }
                        }
    
                        .next-button {
                            width: 2.5rem;
                            height: 2.5rem;
    
                            &:hover {
                                background-color: rgba(255, 255, 255, 0.5);
                            }
                        }
                    }
                }
    
                .preview-slider {
                    width: 80vw;
                    height: 21rem;
                    padding : 0 15%;
                }
            }
        }
    }
}

@include verticalTablet {
    .currentProject-container {
        padding : 5rem 0 0 0;
    
        .project-banner{
    
            .project-info {
    
                .project-detail {
                    width: 80%;
                    height: 28rem;
                    margin: 0 auto;
    
                    .detail-info {
                        width: 100%;
                        height: 18rem;
    
                        .detail-item {
    
                            .title {
    
                                h1 {
                                    font-size: 12px;
                                }
                            }
    
                            .detail-txt {
    
                                p {
                                    font-size: 10px;
                                }
    
                                a {
                                    font-size: 10px;
                                }
                            }
                        }
                    }
    
                    .project-desc {
                        height: 10rem;
    
                        p {
                            font-size: 12px;
                        }
                    }
                }
    
                .project-video {
                    width: 80%;
                    height: 100%;
                    margin: 3rem auto 0 auto;
    
                    .title {
                        width: 100%;
                        height: 6.25rem;
    
                        h1 {
                            font-size: 1rem;
                        }
                    }
    
                    .project-banner {
                        position: relative;
                        width: 100%;
                        height: 20rem;
        
                        video {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }
            }
        }
    
        .project-Board {
            width: 80%;
            margin: 0 auto;
    
            .project-Skills {
                width: 100%;
    
                .title {
                    
                    h2{
                        font-size: 1rem;
                    }
                }
    
                .Skills-list {
    
                    li {
    
                        .Skill-item {
                            width: 100%;
                            height: 100%;
                            background-color: $darkMode-button;
    
                            &:hover {
                                background-color: $button-hover;
                            }
    
                            span {
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
    
            .page-preview {
                width: 35rem;
                height: 25rem;
                margin: 5rem auto 0 auto;
    
                .preview-titleWrap {
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-start;
    
                    .title {
    
                        h1 {
                            line-height: 2.5rem;
                            font-size: 1rem;
                        }
                    }
    
                    .slide-control {
                        width: 10rem;
                        height: 2.5rem;
    
                        .prev-button {
                            width: 2.5rem;
                            height: 2.5rem;
    
                            &:hover {
                                background-color: rgba(255, 255, 255, 0.5);
                            }
                        }
    
                        .next-button {
                            width: 2.5rem;
                            height: 2.5rem;
    
                            &:hover {
                                background-color: rgba(255, 255, 255, 0.5);
                            }
                        }
                    }
                }
    
                .preview-slider {
                    width: 80vw;
                    height: 16rem;
                    padding : 0 15%;
                }
            }
        }
    }
}

@include mobile {
    .currentProject-container {
        padding : 4rem 0 0 0;
    
        .project-banner{
    
            .project-info {
    
                .project-detail {
                    width: 100%;
                    height: 26rem;
                    margin: 0 auto;
                    padding: 0 1rem;
    
                    .detail-info {
                        width: 100%;
                        height: 16rem;
    
                        .detail-item {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            width: 100%;
                            height: calc(16rem / 5);
    
                            .title {
                                width: 50%;
                                height: 100%;
    
                                h1 {
                                    height: calc(16rem / 5);
                                    font-family: $font-Mont;
                                    color: #fff;
                                    font-size: 10px;
                                    text-transform: uppercase;
                                }
                            }
    
                            .detail-txt {
                                display: flex;
                                align-items: flex-start;
                                width: 50%;
                                height: 100%;
    
                                p {
                                    height: 100%;
                                    color: #fff;
                                    font-family: $font-Mont;
                                    font-size: 10px;
                                }
    
                                a {
                                    height: 100%;
                                    color: #fff;
                                    font-family: $font-Mont;
                                    font-size: 10px;
                                    font-weight: bold;
                                }
                            }
                        }
                    }
    
                    .project-desc {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        width: 100%;
                        height: 10rem;
    
                        p {
                            font-size: 9px;
                        }
                    }
                }
    
                .project-video {
                    width: 100%;
                    height: 100%;
                    margin: 3rem auto 0 auto;
                    padding: 0 1rem;
    
                    .title {
                        width: 100%;
                        height: 6.25rem;
    
                        h1 {
                            font-family: $font-Mont;
                            text-transform: uppercase;
                            color: #fff;
                            font-size: 1rem;
                        }
                    }
    
                    .project-banner {
                        position: relative;
                        width: 100%;
                        height: 14rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;
        
                        video {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }
            }
        }
    
        .project-Board {
            width: 100%;
            height: 100%;
            padding: 3rem 1.5rem;
    
            .project-Skills {
                width: 100%;
                height: 12rem;
                margin : 2rem auto;
    
                .title {
                    width: 100%;
                    height: 4rem;
                    
                    h2{
                        font-size: 1rem;
                    }
                }
    
                .Skills-list {
                    width: 100%;
                    height: 8rem;
    
                    li {
                        display: inline-block;
                        width: max-content;
                        height: 2rem;
                        margin : 0 10px 10px 0;
    
                        .Skill-item {
                            width: 100%;
                            height: 100%;
                            background-color: $darkMode-button;
    
                            &:hover {
                                background-color: $button-hover;
                            }
    
                            span {
                                line-height: 2rem;
                                color: #fff;
                                font-family: $font-Mont;
                                font-size: 10px;
                                font-weight: bold;
                                padding: 1rem;
                                text-transform: uppercase;
                            }
                        }
                    }
                }
            }
    
            .page-preview {
                width: 100%;
                height: 20rem;
                margin: 3rem auto 0 auto;
                overflow: hidden;
    
                .preview-titleWrap {
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-start;
                    width: 100%;
                    height: 6.25rem;
    
                    .title {
                        width: max-content;
                        height: 100%;
    
                        h1 {
                            line-height: 2rem;
                            color: #fff;
                            font-family: $font-Mont;
                            font-size: 1rem;
                            text-transform: uppercase;
                        }
                    }
    
                    .slide-control {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        width: 6rem;
                        height: 2rem;
    
                        .prev-button {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 2rem;
                            height: 2rem;
                            cursor: pointer;
                            background-color: rgba(119, 119, 119, 0.3);
                            border-radius: 50%;
    
                            &:hover {
                                background-color: rgba(255, 255, 255, 0.5);
                            }
    
                            svg {
                                font-size: 1rem;
                                color: #fff;
                            }
                        }
    
                        .next-button {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 2rem;
                            height: 2rem;
                            cursor: pointer;
                            background-color: rgba(119, 119, 119, 0.3);
                            border-radius: 50%;
    
                            &:hover {
                                background-color: rgba(255, 255, 255, 0.5);
                            }
    
                            svg {
                                font-size: 1rem;
                                color: #fff;
                            }
                        }
                    }
                }
    
                .preview-slider {
                    position: relative;
                    left: 0;
                    transform: translateX(0);
                    width: 100%;
                    height: 11rem;
                    overflow: hidden;
                    padding : 0 1rem;
                }
            }
        }
    }
}