@import '../../asset/Variables.scss';

.Introduce-container{
    position: relative;
    top : 0;
    left : 0;
    width : 100%;
    height : 100vh;
    padding: 5rem 6.25rem;

    .Introduce-infoBox{
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: space-between;
        align-items: center;
        width : 100%;
        height: 42rem;

        .Introduce-info{
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            width: 45%;
            height: 100%;

            h2{
                width: 60%;
                word-break: keep-all;
                font-size: 1.3rem;
                font-family: $font-Noto;
                color: #fff;
            }

            p{
                position: relative;
                width : 60%;
                height : max-content;
                color: #fff;
                font-family: $font-Noto;
                font-weight: 100;
                font-size: 15px;
                word-break: keep-all;
            }

            .view-report{
                display: block;
                color: #fff;
                background-color: #2e2e2e;
                text-align: center;
                width: 25rem;
                height: 2.5rem;
                font-family: $font-Noto;
                font-size: 15px;
                font-weight: bold;
                line-height: 2.5rem;
                cursor: pointer;
                transition: all 0.3s ease-out;

                &:hover{
                    background-color: #fff;
                    transition: all 0.3s ease-in;
                    color: #2e2e2e;
                }
            }
        }

        .Advantages-list{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            width: 55%;
            height: 100%;
            gap : 3rem 6.25rem;

            .Advantage-item{
                width: 100%;
                height: 100%;

                .Advantage-icon{
                    width: 100%;
                    height: 40%;
                    
                    img{
                        position: relative;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }

                .Advantage-titleBox{
                    width: 100%;
                    padding-top: 2rem;
                    height: 30%;

                    .title{
                        width: 100%;
                        color: #fff;
                        font-family: $font-Mont;
                        font-size: 1rem;
                        text-transform: uppercase;
                        text-align: center;
                    }
                }

                .Advantage-info{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 30%;

                    p{
                        width: 100%;
                        height: 100%;
                        text-align: center;
                        font-family: $font-Noto;
                        color: #fff;
                        font-size: 12px;
                        word-break: keep-all;
                    }
                }
            }
        }
    }
}

/* 맥북 반응형 */
@media screen and (min-width : 1280px) and (max-width : 1440px){
    .Introduce-container{
        padding: 3rem 6.25rem;
    
        .Introduce-infoBox{
            height: 32rem;
    
            .Introduce-info{
                width: 40%;
    
                h2{
                    width: 80%;
                    font-size: 1.2rem;
                }
    
                p{
                    width : 80%;
                    font-size: 14px;
                }
    
                .view-report{
                    font-size: 12px;
                }
            }
    
            .Advantages-list{
                width: 50%;
    
                .Advantage-item{
    
                    .Advantage-info{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        height: 30%;
    
                        p{
                            font-size: 11px;
                        }
                    }
                }
            }
        }
    }
}

/* 맥북 반응형 */
@media screen and (min-width : 1024px) and (max-width : 1279px){
    .Introduce-container{
        padding: 3rem;
    
        .Introduce-infoBox{
            height: 28rem;
    
            .Introduce-info{
                width: 40%;
    
                h2{
                    width: 80%;
                    font-size: 1rem;
                }
    
                p{
                    width : 80%;
                    font-size: 11px;
                }
    
                .view-report{
                    width: 18rem;
                    font-size: 12px;
                }
            }
    
            .Advantages-list{
                width: 55%;
                height: 100%;
                gap : 2rem;
    
                .Advantage-item{
                    width: 100%;
                    height: 100%;
    
                    .Advantage-titleBox{
                        width: 100%;
                        padding-top: 20px;
                        height: 30%;
    
                        .title{
                            width: 100%;
                            color: #fff;
                            font-family: $font-Mont;
                            font-size: 15px;
                            text-transform: uppercase;
                            text-align: center;
                        }
                    }

                    .Advantage-icon{
                        height: 30%;

                        img{
                            width: 35px;
                            height: 35px;
                        }
                    }
    
                    .Advantage-info{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        height: 30%;
    
                        p{
                            width: 100%;
                            height: 100%;
                            text-align: center;
                            font-family: $font-Noto;
                            color: #fff;
                            font-size: 10px;
                            word-break: keep-all;
                        }
                    }
                }
            }
        }
    }
}