@import '../../asset/Variables.scss';

.Introduce-container{
    position: relative;
    top : 0;
    left : 0;
    width : 100%;
    height : 100vh;
    padding: 5%;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .Introduce-titleBox{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width : 100%;
        height : 5rem;

        .Introduce-title{
            width: 40%;
            height: 100%;
            line-height: 5rem;
            font-size: 2rem;
            font-weight: bold;
            font-family: $font-Noto;
            text-transform: uppercase;
            color: #fff;
            text-align: center;
        }

        .Introduce-Subtitle{
            width: 50%;
            height: 100%;
            color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;

            h3{
                width: 100%;
                height: max-content;
                word-break: keep-all;
                font-family: $font-Noto;
                font-size: 1.3rem;
            }
        }
    }

    .Introduce-infoBox{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width : 100%;
        height: 25rem;

        .Introduce-RotateTxt{
            position: relative;
            top: 0;
            left: 0;
            width: 40%;
            height: 100%;

            img{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
                max-width: fit-content;
                animation: RotateAnimate 10s linear infinite;

                @keyframes RotateAnimate{
                    100%{
                        transform: translate(-50%, -50%) rotate(360deg);
                    }
                }
            }

            span{
                position: absolute;
                width: 30px;
                height: 30px;
                top : 50%;
                left : 50%;
                transform: translate(-50%, -50%);
                background-size: cover;
                background-position: center;
                font-size: 0;
            }
        }

        .Introduce-info{
            position: relative;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            width: 50%;
            height: 100%;

            p{
                position: relative;
                width : 500px;
                height : max-content;
                color: #fff;
                font-family: $font-Noto;
                font-weight: 100;
                font-size: 1rem;
                word-break: keep-all;
            }
        }
    }

    .Introduce-img{
        width: 100%;
        height: 20rem;
        background-image: url("../../../public/Image/document.jpg");
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
    }
}

@media screen and (max-width : 1440px){
    .Introduce-container{
    
        .Introduce-titleBox{
    
            .Introduce-title{
                font-size: 1.5rem;
            }
    
            .Introduce-Subtitle{
                h3{
                    font-size: 1rem;
                }
            }
        }
    
        .Introduce-infoBox{
            height: 20rem;
    
            .Introduce-RotateTxt{
    
                img{
                    max-width: 150px;
                }
    
                span{
                    width: 30px;
                    height: 30px;
                }
            }
    
            .Introduce-info{
    
                p{
                    width : 400px;
                    font-size: 12px;
                }
            }
        }
    
        .Introduce-img{
            height: 15rem;
        }
    }
}