@import '../variables';
@import '../mixin/mixin';

.Loading-container{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #000;
    overflow: hidden;
    z-index: 10;

    .Loading-Txt{
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 25rem;
        height: 15rem;
        top : 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;

        .Loading-spinner{
            max-width: fit-content;
        }

        h2{
            width: 100%;
            font-size: 1.2rem;
            text-transform: uppercase;
            font-weight: bold;
            font-family: $font-Mont;
            line-height: 10rem;
            text-align: center;
        }
    }
}

@include mobile {
    .Loading-container{
    
        .Loading-Txt{
            position: absolute;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            width: 20rem;
            height: 15rem;
            top : 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #fff;
    
            h2{
                width: 100%;
                font-size: 1rem;
                text-transform: uppercase;
                font-weight: bold;
                font-family: $font-Mont;
                line-height: 7.5rem;
                text-align: center;
            }
    
            .Loading-spinner{
                position: relative;
                width: 10rem;
                height: 7.5rem;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}