@import '../../asset/Variables.scss';

section{
    position: relative;
    width : 100%;
    height : 100%;
    background-color: #000;
}

.container{
    position: relative;
    width : 100%;
    height : 100%;
}