@import "../Variables.scss";

.ProjectSlide-container{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 0 5%;
    overflow: hidden;

    .ProjectSlide-header{
        width: 100%;
        height: 10rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 2rem;
        font-family: $font-Mont;

        .Slide-title{
            width : 40%;
            height: 100%;
            line-height: 10rem;
            font-size: 1.5rem;
            color: #fff;
            font-weight: bold;
            text-transform: uppercase;
        }

        .slider-control{
            position: relative;
            top : 0;
            left: 0;
            width: 10rem;
            height: max-content;
            display: flex;
            justify-content: space-between;
            align-items: center;
            z-index: 0;
    
            .back-button{
                border: none;
                background : transparent;
                display: block;
                width: 50px;
                color: rgba($color: #ffffff, $alpha: 0.5);
                cursor: pointer;
                font-size: 2.5rem;
    
                &:hover{
                    color: #fff;
                    transition: all 0.5s ease-in;
                }
            }
    
            .front-button{
                border: none;
                background : transparent;
                display: block;
                width: 50px;
                height: 50px;
                color: rgba($color: #ffffff, $alpha: 0.5);
                cursor: pointer;
                font-size: 2.5rem;
    
                &:hover{
                    color: #fff;
                    transition: all 0.5s ease-in;
                }
            }
        }
    }

    .slider-wrap{
        position: relative;
        width: 100%;
        height: 30rem;
        overflow: hidden;
        z-index: 0;
        
        .slider-container{
            position: relative;
            display: inline-flex;
            left: 0;
            width: 400%;
            height: 100%;

            .slide-box{
                position: relative;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding : 0 2rem;

                .Project-Img{
                    position: relative;
                    width: 50rem;
                    height: 25rem;
                    overflow: hidden;

                    img{
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .Project-contents{
                    padding: 50px 0;
                    width: 45rem;
                    height: 100%;

                    .Project-title{
                        width: 100%;
                        font-size: 2rem;
                        font-family: $font-Mont;
                        line-height: 5rem;
                        text-transform: uppercase;
                        color: #fff;
                    }

                    .Project-status{
                        width: 100%;
                        height: 5rem;
                        display: inline-flex;
                        align-items: center;
                        color: #fff;
                        margin-top: 2rem;

                        p{
                            width: 15rem;
                            height: 100%;
                            line-height: 5rem;
                            font-size: 1rem;
                            font-family: $font-Noto;
                        }

                        .Made-state{
                            display: block;
                            width: 8rem;
                            font-family: $font-Noto;
                            border : 3px solid #fff;
                            font-weight: bold;
                            font-size: 14px;
                            text-align: center;

                            span{
                                width: 100%;
                                line-height: 2rem;
                            }
                        }
                    }

                    .Project-tag{
                        width: 100%;
                        height: 10rem;
                        margin-top: 5rem;
                        color: #fff;

                        .tag{
                            width: 40rem;
                            height: 100%;
                        
                            span{
                                display: inline-block;
                                width: max-content;
                                text-align: center;
                                margin-right: 5rem;
                                margin-bottom: 2rem;
                                line-height: 2rem;
                                border : 3px solid #fff;
                                font-family: $font-Mont;
                                font-weight: bold;
                                font-size: 13px;
                                padding: 0 1rem;
                                text-transform: uppercase;
                            }
                        }
                    }
                }
            }
        }
    }

    .slide-status{
        position: relative;
        width: 100%;
        height: 10rem;
        margin-top: 2rem;

        .status-Box{
            width: 100%;
            height: 15px;
            background-color: rgba($color: #ffffff, $alpha: 0.5);

            .status-bar{
                position: relative;
                display: block;
                width: 25%;
                height: 100%;
                background-color: #fff;
            }

            .status-info{
                position: absolute;
                top : 15px;
                left: 0;
                width: 25%;
                height: 5rem;
                text-align: center;

                h2{
                    font-size: 1.2rem;
                    color: #fff;
                    font-family: $font-Mont;
                    line-height: 5rem;
                    text-transform: uppercase;
                }
            }
        }
    }
}

@media screen and (max-width : 1440px){
    .ProjectSlide-container{
    
        .ProjectSlide-header{
            height: 5rem;
    
            .Slide-title{
                line-height: 5rem;
                font-size: 1.5rem;
            }
        }

        .slider-wrap{
            
            .slider-container{
    
                .slide-box{
                    position: relative;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding : 0 2rem;
    
                    .Project-Img{
                        position: relative;
                        width: 50%;
                        height: 25rem;
                        overflow: hidden;
                    }
    
                    .Project-contents{
                        width: 45%;
    
                        .Project-title{
                            width: 100%;
                            font-size: 2rem;
                            font-family: $font-Mont;
                            line-height: 5rem;
                            text-transform: uppercase;
                            color: #fff;
                        }
    
                        .Project-status{
                            margin-top: 1rem;
                        }
    
                        .Project-tag{
                            margin-top: 3rem;
                        }
                    }
                }
            }
        }
    
        .slide-status{
            position: relative;
            width: 100%;
            height: 5rem;
    
            .status-Box{
                height: 10px;
    
                .status-bar{
                    height: 100%;
                }
    
                .status-info{
                    height: 3rem;
    
                    h2{
                        font-size: 1rem;
                        color: #fff;
                        font-family: $font-Mont;
                        line-height: 3rem;
                        text-transform: uppercase;
                    }
                }
            }
        }
    }
}