@import "../Variables.scss";

.ProjectSlide-container{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 5%;
    overflow: hidden;

    .ProjectSlide-header{
        width: 100%;
        height: 10rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 2rem;
        font-family: $font-Mont;

        .Slide-title{
            width : 40%;
            height: 100%;
            line-height: 10rem;
            font-size: 2rem;
            color: #fff;
            font-weight: bold;
            text-transform: uppercase;
        }

        .view-more{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 10rem;
            height: 100%;

            a{
                display: block;
                width: 10rem;
                height: 5rem;
                line-height: 5rem;
                text-align: center;
                color: #fff;
                font-size: 1.2rem;
                font-weight: bold;
                border-bottom: 2px solid transparent;

                &:hover{
                    transition: all 0.5s ease-in;
                    border-bottom: 2px solid #fff;
                }
            }
        }
    }

    .slider-wrap{
        position: relative;
        width: 100%;
        height: 40rem;
        overflow: hidden;
        z-index: 0;
        
        .slider-container{
            position: relative;
            display: inline-flex;
            left: 0;
            width: 400%;
            height: 40rem;

            .slide-box{
                position: relative;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .Project-Img{
                    position: relative;
                    width: 56rem;
                    height: 30rem;
                    overflow: hidden;

                    img{
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .Project-contents{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: flex-start;
                    padding: 50px 0;
                    width: 45rem;
                    height: 35rem;

                    .Project-title{
                        width: 100%;
                        height: 5rem;
                        font-size: 2.5rem;
                        font-family: $font-Mont;
                        line-height: 5rem;
                        color: #fff;
                    }

                    .Project-status{
                        width: 100%;
                        height: 5rem;
                        display: inline-flex;
                        align-items: center;
                        color: #fff;

                        p{
                            width: 15rem;
                            height: 100%;
                            line-height: 5rem;
                            font-size: 1.2rem;
                            font-family: $font-Noto;
                        }

                        .Made-state{
                            display: block;
                            width: 8rem;
                            font-family: $font-Noto;
                            border : 3px solid #fff;
                            font-weight: bold;
                            font-size: 15px;
                            text-align: center;

                            span{
                                width: 100%;
                                line-height: 2rem;
                            }
                        }
                    }

                    .Project-tag{
                        width: 100%;
                        height: 15rem;
                        color: #fff;

                        .tag{
                            width: 40rem;
                            height: 100%;
                        
                            span{
                                display: inline-block;
                                width: max-content;
                                text-align: center;
                                margin-right: 5rem;
                                margin-bottom: 2rem;
                                line-height: 3rem;
                                border : 3px solid #fff;
                                font-family: $font-Mont;
                                font-weight: bold;
                                font-size: 13px;
                                padding: 0 1rem;
                                text-transform: uppercase;
                            }
                        }
                    }
                }
            }
        }
    }
    .slider-control{
        position: absolute;
        margin-top: 5%;
        top : 10rem;
        left: 0;
        width: 100%;
        padding : 0 2rem;
        height: 40rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 0;

        .back-button{
            border: none;
            background : transparent;
            display: block;
            width: 50px;
            height: 50px;
            color: rgba($color: #ffffff, $alpha: 0.5);
            cursor: pointer;
            font-size: 3rem;

            &:hover{
                color: #fff;
                transition: all 0.5s ease-in;
            }
        }

        .front-button{
            border: none;
            background : transparent;
            display: block;
            width: 50px;
            height: 50px;
            color: rgba($color: #ffffff, $alpha: 0.5);
            cursor: pointer;
            font-size: 3rem;

            &:hover{
                color: #fff;
                transition: all 0.5s ease-in;
            }
        }
    }

    .slide-status{
        position: relative;
        width: 100%;
        height: 10rem;

        .status-Box{
            width: 100%;
            height: 15px;
            background-color: rgba($color: #ffffff, $alpha: 0.5);

            .status-bar{
                position: relative;
                display: block;
                width: 25%;
                height: 100%;
                background-color: #fff;
            }

            .status-info{
                position: absolute;
                top : 15px;
                left: 0;
                width: 25%;
                height: 5rem;
                text-align: center;

                h2{
                    font-size: 1.2rem;
                    color: #fff;
                    font-family: $font-Mont;
                    line-height: 5rem;
                    text-transform: uppercase;
                }
            }
        }
    }
}