@import '../variables';
@import '../ResponsiveMixin/mixin';

.Project-container{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 5rem 6.25rem;

    .Project-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 15rem;
        margin-bottom: 2rem;

        .Project-titleBox{
            width: 40%;
            height: max-content;

            span{
                width: 100%;
                line-height: 3rem;
                color: #fff;
                font-family: $font-Noto;
                font-size: 13px;
            }

            h1{
                width: 100%;
                line-height: 7rem;
                color: #fff;
                font-family: $font-Mont;
                font-size: 1.8rem;
                text-transform: uppercase;
            }
        }
    }

    .Project-List{
        position: relative;
        width: 100%;
        height: 90rem;

        .card-List{
            position: relative;
            width: 100%;
            height: 100%;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap : 50px;

            .Project-card{
                position: relative;
                width: 100%;
                height: 100%;
                background-color: $darkMode-button;

                .Project-Banner{
                    position: relative;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 50%;
                    padding: 0 50px;

                    .Project-titleBox{
                        width: 100%;
                        height: 8rem;
                        margin-bottom: 2rem;

                        .title{
                            width: 100%;
                            line-height: 6rem;
                            color: #fff;
                            font-family: $font-Mont;
                            font-size: 1.5rem;
                            text-transform: uppercase;
                        }

                        .subTitle{
                            width: 100%;
                            line-height: 2rem;
                            color: #fff;
                            font-family: $font-Noto;
                            font-size: 13px;
                        }
                    }

                    .Project-info{
                        width: 100%;
                        height: 10rem;

                        p{
                            width: 70%;
                            height: 100%;
                            font-family: $font-Noto;
                            color: $white-color;
                            font-size: 12px;
                            word-break: keep-all;
                        }
                    }

                    .view-button{
                        position: absolute;
                        width: 50px;
                        height: 50px;
                        right: 2rem;
                        bottom: 2rem;

                        svg{
                            position: absolute;
                            top: 0;
                            left: 0;    
                        }

                        &:hover{
                            cursor: pointer;
                            svg{
                                transform: scale(1.1);
                            }
                        }
                    }
                }

                .Banner-imgBox{
                    position: relative;
                    width: 100%;
                    height: 50%;

                    img{
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }

                    &::before{
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        content: '';
                        background-color: rgba($color: #000000, $alpha: 0.3);
                        z-index: 1;
                    }
                }
            }
        }
    }
}

.CurrentProject-container {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding : 6.25rem 6.25rem 0 6.25rem;

    .Current-Banner{
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 60rem;
        padding: 2rem 0 0 0;

        .CurrentInfo-container{
            width: 55%;
            height: 100%;

            .Project-ImgBox{
                position: relative;
                width: 100%;
                height: 32rem;

                img{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .Project-infoBox{
                margin-top: 2rem;
                width: 100%;
                height: 20rem;
                color: #fff;
                font-family: $font-Noto;

                .Project-subTitle{
                    width: 100%;
                    line-height: 2rem;
                    font-size: 14px;
                    text-transform: uppercase;
                }

                .Project-title{
                    width: 100%;
                    font-size: 1.2rem;
                    line-height: 8rem;
                    font-weight: 300;
                }

                .Project-info{
                    width: 80%;
                    margin-top: 2rem;
                    height: 8rem;
                    word-break: keep-all;
                    font-size: 14px;
                    color: #b4b4b4;
                }
            }
        }

        .ProjectSkills-container{
            position: sticky;
            top: 6.25rem;
            right: 0;
            width: 40%;
            height: 30rem;

            .Design-menu{
                position: relative;
                width: 100%;
                height: 15rem;

                .menu-title{
                    width: 100%;
                    height: 5rem;

                    h2{
                        line-height: 5rem;
                        font-size: 1rem;
                        color: #fff;
                        text-transform: uppercase;
                        font-family: $font-Mont;
                    }
                }

                .menu-button{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    height: 3rem;
                    background-color: rgba($color: #3d3d3d, $alpha: 0.8);
                    transition: all 0.3s ease-out;

                    span{
                        margin-left: 2rem;
                        font-size: 14px;
                        color: #fff;
                        text-transform: uppercase;
                        font-family: $font-Mont;
                        font-weight: bold;
                    }

                    &:hover{
                        background-color: #F24E1E;
                        transition: all 0.3s ease-in;
                    }
                }
            }

            .Skill-menu{
                width: 100%;
                height : 15rem;

                .menu-title{
                    width: 100%;
                    height: 5rem;

                    h2{
                        font-size: 1rem;
                        color: #fff;
                        font-family: $font-Mont;
                        text-transform: uppercase;
                        line-height: 5rem;
                    }
                }

                .Skill-list{
                    width: 100%;
                    height: 10rem;

                    li{
                        display: inline-block;
                        width: max-content;
                        height: 3rem;
                        margin-top: 1rem;
                        margin-right: 2rem;

                        .Skill-item{
                            width: max-content;
                            height: 2.5rem;
                            padding : 0 1rem;
                            background-color: $darkMode-button;

                            span{
                                font-family: $font-Mont;
                                text-transform: uppercase;
                                font-weight: bold;
                                line-height: 2.5rem;
                                color: rgba($color: #fff, $alpha: 0.7);
                                font-size: 13px;
                            }

                            &:hover{
                                background-color: $rgba-white;
                                color: #fff;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
    }

    .CurrentBoard-container{
        position: relative;
        display: flex;
        width: 100%;
        height: 100%;
        margin: 5rem 0;

        .Project-category{
            position: relative;
            top: 0;
            left: 0;
            height: 300rem;
            flex : 2;

            ul{
                position: sticky;
                top: 6.25rem;
                left: 0;
                width: 100%;
                height: 15rem;

                li{
                    width: 100%;
                    height: 5rem;
                    
                    a{
                        font-size: 1rem;
                        font-family: $font-Mont;
                        color: rgb(107, 107, 107);
                        text-transform: uppercase;
                        font-weight: bold;
                        line-height: 5rem;

                        &.active{
                            color: #fff;
                        }
                    }

                    span{
                        font-size: 1.2rem;
                        font-family: $font-Mont;
                        color: #fff;
                        text-transform: uppercase;
                        font-weight: bold;
                        line-height: 5rem;
                    }
                }
            }
        }

        .Project-Board{
            flex : 8;
            height: 100%;

            .Main-Board,.Sub-Board{
                width: 100%;
                height: 100%;
                padding : 0 5rem;

                .Main-title{
                    width: 100%;
                    line-height: 5rem;
                    margin-bottom: 2rem;
                    text-transform: uppercase;
                    font-family: $font-Mont;
                    color: #fff;
                    font-size: 1.5rem;
                }

                .Board-item{
                    width: 100%;
                    height: 35rem;
                    margin-bottom: 2rem;

                    .page-info{
                        width: 100%;
                        height: 3rem;
                        line-height: 3rem;
                        text-transform: uppercase;
                        font-family: $font-Mont;
                        color: rgba($color: #fff, $alpha: 0.7);
                        font-size: 12px;
                    }

                    .page-ImgBox{
                        margin-top: 2rem;
                        width: max-content;
                        height: 28rem;

                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }
            }
        }
    }
}

/* 노트북 ~ 맥북 반응형 */
@include macbook {
    .Project-container{
        position: relative;
        width: 100%;
        height: 100%;
        padding: 3rem 6.25rem;

        .Project-header{
    
            .Project-titleBox{
                width: 70%;
    
                span{
                    font-size: 12px;
                }
    
                h1{
                    font-size: 1.5rem;
                }
            }
        }
    
        .Project-List{
            height: 80rem;
    
            .card-List{
    
                .Project-card{
    
                    .Project-Banner{
                        height: 50%;
                        padding: 0 50px;
    
                        .Project-titleBox{
    
                            .title{
                                font-size: 1.5rem;
                            }
    
                            .subTitle{
                                font-size: 13px;
                            }
                        }
    
                        .Project-info{
                            height: max-content;
    
                            p{
                                width: 90%;
                                font-size: 10px;
                            }
                        }
    
                        .view-button{
                            position: absolute;
                            width: 30px;
                            height: 30px;
                            right: 2rem;
                            bottom: 3rem;
    
                            svg{
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 35px;
                                height: 35px;
                            }
    
                            &:hover{
                                cursor: pointer;
                                svg{
                                    transform: scale(1.1);
                                }
                            }
                        }
                    }
    
                    .Banner-imgBox{
                        position: relative;
                        width: 100%;
                        height: 50%;
    
                        img{
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
    
                        &::before{
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            content: '';
                            background-color: rgba($color: #000000, $alpha: 0.3);
                            z-index: 1;
                        }
                    }
                }
            }
        }
    }

    .CurrentProject-container {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding : 5rem 6.25rem 0 6.25rem;
    
        .Current-Banner{
            height: 40rem;
    
            .CurrentInfo-container{
                width: 50%;
                height: 100%;
    
                .Project-ImgBox{
                    height: 20rem;
                }
    
                .Project-infoBox{
                    margin-top: 2rem;
                    height: 17rem;
    
                    .Project-subTitle{
                        line-height: 2rem;
                        font-size: 12px;
                    }
    
                    .Project-title{
                        font-size: 1.2rem;
                        line-height: 8rem;
                        font-weight: 300;
                    }
    
                    .Project-info{
                        margin-top: 1rem;
                        height: 6rem;
                        font-size: 12px;
                    }
                }
            }
    
            .ProjectSkills-container{
                position: sticky;
                top: 5rem;
                right: 0;
                width: 40%;
                height: 25rem;
    
                .Design-menu{
                    height: 12.5rem;
    
                    .menu-title{
                        height: 5rem;
    
                        h2{
                            line-height: 3rem;
                            font-size: 1rem;
                        }
                    }
    
                    .menu-button{
                        height: 2.5rem;
    
                        span{
                            font-size: 14px;
                        }
                    }
                }
    
                .Skill-menu{
                    height: 12.5rem;
    
                    .menu-title{
                        height: 2.5rem;
    
                        h2{
                            font-size: 1rem;
                        }
                    }
    
                    .Skill-list{
                        width: 100%;
                        height: 10rem;
    
                        li{
    
                            .Skill-item{
    
                                span{
                                    font-size: 13px;
                                }
                            }
                        }
                    }
                }
            }
        }
    
        .CurrentBoard-container{
            position: relative;
            display: flex;
            width: 100%;
            height: 100%;
            margin: 5rem 0;
    
            .Project-category{
                position: relative;
                top: 0;
                left: 0;
                height: 250rem;
                flex : 2;
    
                ul{
    
                    li{
                        width: 100%;
                        height: 5rem;
                        
                        a{
                            font-size: 1rem;
                        }
    
                        span{
                            font-size: 1.2rem;
                        }
                    }
                }
            }
    
            .Project-Board{
                flex : 8;
                width: 100%;
                height: max-content;
    
                .Main-Board,.Sub-Board{
                    padding : 0;
    
                    .Main-title{
                        font-size: 1.3rem;
                    }
    
                    .Board-item{
                        width: 100%;
                        height: 30rem;
                        margin-bottom: 2rem;
    
                        .page-info{
                            width: 100%;
                            height: 3rem;
                            line-height: 3rem;
                            text-transform: uppercase;
                            font-family: $font-Mont;
                            color: rgba($color: #fff, $alpha: 0.7);
                            font-size: 12px;
                        }
    
                        .page-ImgBox{
                            height: 25rem;
                        }
                    }
                }
            }
        }
    }
}

/* 테블릿 가로 ~ 노트북 반응형 */
@include horizontalTablet {
    .Project-container{
        padding: 1rem 3rem;
    
        .Project-header{
            width: 100%;
            height: 12rem;
            margin-bottom: 1rem;
    
            .Project-titleBox{
    
                span{
                    font-size: 12px;
                }
    
                h1{
                    line-height: 7rem;
                    font-size: 1.5rem;
                }
            }

            svg{
                width: 60px;
            }
        }
    
        .Project-List{
            position: relative;
            width: 100%;
            height: 60rem;
    
            .card-List{
    
                .Project-card{
    
                    .Project-Banner{
    
                        .Project-titleBox{
                            width: 80%;
                            height: 6rem;
    
                            .title{
                                line-height: 4rem;
                                font-size: 1.2rem;
                            }
    
                            .subTitle{
                                line-height: 2rem;
                                font-size: 12px;
                            }
                        }
    
                        .Project-info{
                            width: 100%;
                            height: max-content;
    
                            p{
                                width: 100%;
                                font-size: 10px;
                            }
                        }
    
                        .view-button{
                            right: 1rem;
                            top: 2rem;
                            
                            svg{
                                width: 30px;
                                height: 30px;
                            }
                        }
                    }
                }
            }
        }
    }

    .CurrentProject-container{
        padding : 6.25rem 3.125rem 0 3.125rem;
    
        .Current-Banner{
            flex-direction: column;
            align-items: center;
            width: 100%;
            height: 70rem;
            padding: 0;
    
            .CurrentInfo-container{
                width: 100%;
                height: 45rem;
    
                .Project-ImgBox{
                    position: relative;
                    width: 100%;
                    height: 25rem;
                }
    
                .Project-infoBox{
                    margin-top: 2rem;
                    width: 100%;
                    height: 16rem;
                    color: #fff;
                    font-family: $font-Noto;
    
                    .Project-subTitle{
                        line-height: 2rem;
                        font-size: 12px;
                    }
    
                    .Project-title{
                        width: 100%;
                        font-size: 1rem;
                        line-height: 5rem;
                        font-weight: 300;
                    }
    
                    .Project-info{
                        height: 6rem;
                        font-size: 12px;
                    }
                }
            }
    
            .ProjectSkills-container{
                position: relative;
                top: 0;
                right: 0;
                width: 100%;
                height: 23rem;
    
                .Design-menu{
                    height: 10rem;
    
                    .menu-title{
    
                        h2{
                            font-size: 14px;
                        }
                    }
    
                    .menu-button{
                        height: 2.5rem;
    
                        span{
                            font-size: 13px;
                        }
                    }
                }
    
                .Skill-menu{
                    width: 100%;
                    height : 13rem;
    
                    .menu-title{
    
                        h2{
                            font-size: 14px;
                        }
                    }
    
                    .Skill-list{
                        width: 100%;
                        height: 8rem;
    
                        li{
                            height: 2rem;
                            margin-top: 1rem;
                            margin-right: 1rem;
    
                            .Skill-item{
                                height: 2rem;
    
                                span{
                                    line-height: 2rem;
                                    font-size: 10px;
                                }
                            }
                        }
                    }
                }
            }
        }
    
        .CurrentBoard-container{
            margin: 3rem 0;
    
            .Project-category{
                display: none;
            }
    
            .Project-Board{
                flex : none;
                width: 100%;
                height: 100%;
    
                .Main-Board,.Sub-Board{
                    width: 100%;
                    height: 100%;
                    padding : 0;
    
                    .Main-title{
                        width: 100%;
                        line-height: 5rem;
                        margin-bottom: 2rem;
                        text-transform: uppercase;
                        font-family: $font-Mont;
                        color: #fff;
                        font-size: 1rem;
                    }
    
                    .Board-item{
                        width: 100%;
                        height: max-content;
                        margin-bottom: 2rem;
    
                        .page-info{
                            width: 100%;
                            height: 3rem;
                            line-height: 3rem;
                            text-transform: uppercase;
                            font-family: $font-Mont;
                            color: rgba($color: #fff, $alpha: 0.7);
                            font-size: 10px;
                        }
    
                        .page-ImgBox{
                            margin-top: 2rem;
                            width: max-content;
                            height: 20rem;
    
                            img{
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                    }
                }
            }
        }
    }
}

@include verticalTablet {
    .Project-container{
        position: relative;
        width: 100%;
        height: 100%;
        padding: 3.125rem;
    
        .Project-header{
            height: 10rem;
    
            .Project-titleBox{
                width: 70%;
                height: max-content;
    
                span{
                    line-height: 2rem;
                    font-size: 12px;
                }
    
                h1{
                    line-height: 7rem;
                    font-size: 1.5rem;
                }
            }

            svg{
                width: 60px;
            }
        }
    
        .Project-List{
            height: 100rem;
    
            .card-List{
                grid-template-columns: repeat(1, 1fr);
                gap : 3.125rem 1rem;
    
                .Project-card{
    
                    .Project-Banner{
                        height: 60%;
                        padding: 0 2rem;
    
                        .Project-titleBox{
                            width: 100%;
                            height: 6rem;
                            margin-bottom: 2rem;
    
                            .title{
                                line-height: 4rem;
                                font-size: 1rem;
                            }
    
                            .subTitle{
                                line-height: 2rem;
                                font-size: 10px;
                            }
                        }
    
                        .Project-info{
                            width: 100%;
                            height: max-content;
    
                            p{
                                width: 100%;
                                height: 100%;
                                font-size: 10px;
                            }
                        }
    
                        .view-button{
                            position: absolute;
                            top: 2rem;
                            right: 3rem;
                            width: 30px;
                            height: 30px;
    
                            svg{
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 30px;
                                height: 30px;
                            }
    
                            &:hover{
                                cursor: pointer;
                                svg{
                                    transform: scale(1.1);
                                }
                            }
                        }
                    }

                    .Banner-imgBox{
                        height: 40%;
                    }
                }
            }
        }
    }

    .CurrentProject-container {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding : 5rem 6.25rem 0 6.25rem;
    
        .Current-Banner{
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            width: 100%;
            height: 60rem;
            padding: 2rem 0 0 0;
    
            .CurrentInfo-container{
                width: 100%;
                height: 34rem;
    
                .Project-ImgBox{
                    height: 15rem;
                }
    
                .Project-infoBox{
                    margin-top: 2rem;
                    width: 100%;
                    height: 17rem;
    
                    .Project-subTitle{
                        width: 100%;
                        line-height: 2rem;
                        font-size: 12px;
                    }
    
                    .Project-title{
                        width: 100%;
                        font-size: 1rem;
                        line-height: 6rem;
                        font-weight: 300;
                    }
    
                    .Project-info{
                        width: 80%;
                        margin-top: 1rem;
                        height: 8rem;
                        font-size: 12px;
                    }
                }
            }
    
            .ProjectSkills-container{
                position: relative;
                top: 0;
                right: 0;
                width: 100%;
                height: 23rem;
    
                .Design-menu{
                    position: relative;
                    width: 100%;
                    height: 10rem;
    
                    .menu-title{
                        width: 100%;
                        height: 5rem;
    
                        h2{
                            line-height: 5rem;
                            font-size: 1rem;
                            color: #fff;
                            text-transform: uppercase;
                            font-family: $font-Mont;
                        }
                    }
    
                    .menu-button{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 100%;
                        height: 2.5rem;
                        background-color: rgba($color: #3d3d3d, $alpha: 0.8);
                        transition: all 0.5s ease-out;
    
                        span{
                            margin-left: 2rem;
                            font-size: 1rem;
                            color: #fff;
                            text-transform: uppercase;
                            font-family: $font-Mont;
                            font-weight: bold;
                        }
    
                        &:hover{
                            background-color: #F24E1E;
                            transition: all 0.5s ease-in;
                        }
                    }
                }
    
                .Skill-menu{
                    width: 100%;
                    height : 13rem;
    
                    .menu-title{
                        height: 3rem;
    
                        h2{
                            font-size: 1rem;
                        }
                    }
    
                    .Skill-list{
                        height: 10rem;
    
                        li{
                            height: 2.5rem;
                            margin-top: 1rem;
                            margin-right: 2rem;
    
                            .Skill-item{
                                height: 2.5rem;
    
                                span{
                                    line-height: 2.5rem;
                                    font-size: 13px;
                                }
                            }
                        }
                    }
                }
            }
        }
    
        .CurrentBoard-container{
            position: relative;
            display: flex;
            width: 100%;
            height: 100%;
            margin: 3rem 0;
    
            .Project-category{
                display: none;
            }
    
            .Project-Board{
                flex : none;
                height: 100%;
    
                .Main-Board,.Sub-Board{
                    width: 100%;
                    height: 100%;
                    padding : 0;
    
                    .Main-title{
                        width: 100%;
                        line-height: 5rem;
                        margin-bottom: 2rem;
                        text-transform: uppercase;
                        font-family: $font-Mont;
                        color: #fff;
                        font-size: 1.2rem;
                    }
    
                    .Board-item{
                        width: 100%;
                        height: 20rem;
                        margin-bottom: 2rem;
    
                        .page-info{
                            width: 100%;
                            height: 3rem;
                            line-height: 3rem;
                            text-transform: uppercase;
                            font-family: $font-Mont;
                            color: rgba($color: #fff, $alpha: 0.7);
                            font-size: 12px;
                        }
    
                        .page-ImgBox{
                            margin-top: 2rem;
                            width: max-content;
                            height: 15rem;
                        }
                    }
                }
            }
        }
    }
}

@include mobile {
    .Project-container{
        position: relative;
        width: 100%;
        height: 100%;
        padding: 2rem 3.125rem;
    
        .Project-header{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 8rem;
            margin-bottom: 2rem;
    
            .Project-titleBox{
                width: 100%;
                height: 8rem;
    
                span{
                    width: 100%;
                    line-height: 2rem;
                    color: #fff;
                    font-family: $font-Noto;
                    font-size: 12px;
                }
    
                h1{
                    width: 100%;
                    line-height: 6rem;
                    color: #fff;
                    font-family: $font-Mont;
                    font-size: 1.2rem;
                    text-transform: uppercase;
                }
            }

            svg{
                width: 60px;
            }
        }
    
        .Project-List{
            position: relative;
            width: 100%;
            height: 100rem;
    
            .card-List{
                position: relative;
                width: 100%;
                height: 100%;
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                gap : 50px;
    
                .Project-card{
                    position: relative;
                    width: 100%;
                    height: 100%;
                    background-color: $darkMode-button;
    
                    .Project-Banner{
                        position: relative;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 60%;
                        padding: 0;
    
                        .Project-titleBox{
                            width: 100%;
                            height: 5rem;
                            padding: 0 2rem;
                            margin-bottom: 2rem;
    
                            .title{
                                width: 100%;
                                line-height: 3rem;
                                color: #fff;
                                font-family: $font-Mont;
                                font-size: 1rem;
                                text-transform: uppercase;
                            }
    
                            .subTitle{
                                width: 100%;
                                line-height: 2rem;
                                color: #fff;
                                font-family: $font-Noto;
                                font-size: 8px;
                            }
                        }
    
                        .Project-info{
                            width: 100%;
                            height: 10rem;
                            padding: 0 2rem;
    
                            p{
                                width: 100%;
                                height: 100%;
                                font-family: $font-Noto;
                                color: $white-color;
                                font-size: 8px;
                                word-break: keep-all;
                            }
                        }
    
                        .view-button{
                            position: absolute;
                            width: 35px;
                            height: 35px;
                            right: 2rem;
                            top: 2rem;
    
                            svg{
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 35px;
                                height: 35px;
                            }
    
                            &:hover{
                                cursor: pointer;
                                svg{
                                    transform: scale(1.1);
                                }
                            }
                        }
                    }
    
                    .Banner-imgBox{
                        position: relative;
                        width: 100%;
                        height: 40%;
    
                        img{
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
    
                        &::before{
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            content: '';
                            background-color: rgba($color: #000000, $alpha: 0.3);
                            z-index: 1;
                        }
                    }
                }
            }
        }
    }
    
    .CurrentProject-container {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding : 5rem 3.125rem 0 3.125rem;
    
        .Current-Banner{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 100%;
            height: 55rem;
            padding: 2rem 0 0 0;
    
            .CurrentInfo-container{
                width: 100%;
                height: 30rem;
    
                .Project-ImgBox{
                    position: relative;
                    width: 100%;
                    height: 10rem;
    
                    img{
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
    
                .Project-infoBox{
                    margin-top: 2rem;
                    width: 100%;
                    height: 18rem;
                    color: #fff;
                    font-family: $font-Noto;
    
                    .Project-subTitle{
                        width: 100%;
                        line-height: 3rem;
                        font-size: 12px;
                        text-transform: uppercase;
                    }
    
                    .Project-title{
                        width: 100%;
                        height: 6rem;
                        line-height: 2rem;
                        font-size: 15px;
                        font-weight: 300;
                    }
    
                    .Project-info{
                        width: 100%;
                        margin-top: 1rem;
                        height: 9rem;
                        word-break: keep-all;
                        font-size: 10px;
                        color: #b4b4b4;
                    }
                }
            }
    
            .ProjectSkills-container{
                position: relative;
                top: 0;
                right: 0;
                width: 100%;
                height: 25rem;
    
                .Design-menu{
                    position: relative;
                    width: 100%;
                    height: 10rem;
    
                    .menu-title{
                        width: 100%;
                        height: 3rem;
                        margin-bottom: 2rem;
    
                        h2{
                            line-height: 3rem;
                            font-size: 1rem;
                            color: #fff;
                            text-transform: uppercase;
                            font-family: $font-Mont;
                        }
                    }
    
                    .menu-button{
                        height: 2.5rem;
    
                        span{
                            font-size: 12px;
                        }
                    }
                }
    
                .Skill-menu{
                    width: 100%;
                    height : 15rem;
    
                    .menu-title{
                        height: 3rem;
                        margin-bottom: 2rem;
    
                        h2{
                            font-size: 1rem;
                        }
                    }
    
                    .Skill-list{
                        width: 100%;
                        height: 10rem;
    
                        li{
                            height: 2rem;
                            margin-top: 10px;
                            margin-right: 10px;
    
                            .Skill-item{
                                height: 2rem;
    
                                span{
                                    line-height: 2rem;
                                    font-size: 10px;
                                }
                            }
                        }
                    }
                }
            }
        }
    
        .CurrentBoard-container{
            position: relative;
            display: block;
            width: 100%;
            height: 100%;
            margin: 2rem 0;
    
            .Project-category{
                display: none;
            }
    
            .Project-Board{
                flex : none;
                height: 100%;
    
                .Main-Board,.Sub-Board{
                    width: 100%;
                    height: 100%;
                    padding : 0;
    
                    .Main-title{
                        width: 100%;
                        line-height: 5rem;
                        margin-bottom: 2rem;
                        text-transform: uppercase;
                        font-family: $font-Mont;
                        color: #fff;
                        font-size: 1rem;
                    }
    
                    .Board-item{
                        width: 100%;
                        height: 15rem;
                        margin-bottom: 2rem;
    
                        .page-info{
                            width: 100%;
                            height: 3rem;
                            line-height: 3rem;
                            font-size: 10px;
                        }
    
                        .page-ImgBox{
                            margin-top: 2rem;
                            width: 100%;
                            height: 10rem;
                        }
                    }
                }
            }
        }
    }
}