@import '../../asset/Variables.scss';

/*Technology 최상위 부모 container*/
.Technology-container{
    position: relative;
    width : 100%;
    height : 190rem;
    background-color: $black-color;
    overflow: hidden;
    padding : 0 5%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 100px;
    
    /*Development Skills container*/
    .DevelopSkills-container{
        position: relative;
        width : 100%;
        height : 50rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0 2rem;

        /*Development Skills Index & tabMenu*/
        .DevelopSkill-header{
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            width: 100%;
            height: 10rem;

            .DevelopSkill-Index{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 40%;
                height: 100%;
                color: #fff;
                border-top: 2px solid #fff;

                .Index-title{
                    width: 100%;
                    line-height: 10rem;
                    font-size: 1.5rem;
                    text-transform: uppercase;
                }
            }

            .Skills-TabMenu{
                display: flex;
                justify-content: flex-end;
                align-items: center;
                width : 50%;
                height: 5rem;

                ul{
                    width: 20rem;
                    height: 100%;

                    li{
                        display: inline-block;
                        width: calc(20rem / 2);
                        height: 100%;
                        text-align: center;

                        button{
                            display: block;
                            width: 100%;
                            height: 100%;
                            color: rgba($color: #ffffff, $alpha: 0.5);
                            font-weight: bold;
                            font-family: $font-Mont;
                            background : transparent;
                            font-size: 1.1rem;
                            border : none;
                            cursor: pointer;
                        }

                        &:nth-child(1){
                            margin-left: 0;
                        }

                        &.active{
                            border-bottom: 2px solid #fff;
                        }

                        &.active button{
                            color: #fff;
                        }
                    }
                }
            }
        }

        /*Development skill Develop&Design Items container*/
        .DevelopSkill-contents{
            position: relative;
            width: 100%;
            height: 35rem;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            place-items: center;

            .skill-item{
                position: relative;
                width: 18rem;
                height: 15rem;
                border : 2px solid #fff;

                h2{
                    position: absolute;
                    top: 0;
                    width: 100%;
                    height: 5rem;
                    font-size: 1.5rem;
                    text-align: center;
                    font-family: $font-Mont;
                    color: #fff;
                    line-height: 5rem;
                }

                img{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50% ,-50%);
                    width: 70px;
                    height: 70px;
                }

                p{
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    color: #fff;
                    height: 3rem;
                    text-align: center;
                    font-weight: 100;
                    font-family: $font-Mont;
                    font-size: 1rem;
                }
            }
        }
    }
    
    /*Certificate container*/
    .Certificate-container{
        position: relative;
        width: 100%;
        height: 37rem;
        padding: 0 2rem;

        .Certificate-header{
            position: relative;
            width: 100%;
            height: 10rem;

            .Certificate-Index{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 40%;
                height: 100%;
                color: #fff;
                border-top: 2px solid #fff;
    
                .Index-title{
                    width: 100%;
                    height: 100%;
                    line-height: 10rem;
                    font-size: 1.5rem;
                    text-transform: uppercase;
                }
            }
        }

        .certificate-Info{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 20rem;
            margin-top: 5rem;

            .certificate-item{
                width: 20rem;
                height: 100%;
                text-align: center;

                a{
                    text-align: center;
                    color: #fff;
                }

                img{
                    width: 70px;
                    height: 70px;
                }

                .certificate-title{
                    width: 100%;
                    height: 8rem;
                    line-height: 8rem;
                    font-size: 1.2rem;
                    font-family: $font-Noto;
                    font-weight: bold;
                }

                .certificate-info{
                    width: 100%;
                    height: 5rem;
                    font-size: 1rem;
                    font-family: $font-Noto;
                    font-weight: 100;
                    line-height: 5rem;
                }
            }
        }
    }

    /*Developer container*/
    .Developer-container{
        position: relative;
        width: 100%;
        height: 70rem;
        padding: 0 2rem;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        overflow: hidden;

        .Developer-header{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            width: 40%;
            height: 100%;

            .Developer-Index{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 100%;
                height: 15rem;
                color: #fff;
                border-top: 2px solid #fff;

                .Index-title{
                    width: 100%;
                    height: 8rem;
                    line-height: 8rem;
                    font-size: 1.5rem;
                    text-transform: uppercase;
                }

                .Index-subTitle{
                    width: 100%;
                    height: 5rem;
                    line-height: 5rem;
                    font-size: 1rem;
                    font-family: $font-Noto;
                    text-transform: uppercase;
                    font-weight: bold;
                }
            }

            .Advantages-contents{
                width: 100%;
                height: 50rem;
                color: #fff;

                .Advantages-title{
                    width: 100%;
                    height: 5rem;
                    font-size: 1.5rem;
                    font-family: $font-Mont;
                    text-transform: uppercase;
                    line-height: 5rem;
                }

                .Advantages-info{
                    width: 100%;
                    height: 45rem;
                    margin-top: 3rem;

                    .Advantage-item{
                        display: block;
                        width: 100%;
                        height: calc(45rem / 3);

                        .Advantage-titleBox{
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            width: 100%;
                            height: 7rem;

                            .title-Index{
                                width: max-content;
                                line-height: 7rem;
                                text-align: center;
                                font-size: 1.5rem;
                            }

                            .title{
                                width: max-content;
                                line-height: 7rem;
                                margin-left: 5rem;
                                font-size: 1.5rem;
                                text-transform: uppercase;
                                font-weight: bold;
                                font-family: $font-Mont;
                                text-align: center;
                            }
                        }

                        .Advantage-info{
                            width: 100%;
                            height: 7rem;

                            p{
                                width: 100%;
                                line-height: 7rem;
                                text-align: start;
                                font-size: 1rem;
                                font-family: $font-Noto;
                                color: #fff;
                                font-weight: 100;
                            }
                        }
                    }
                }
            }
        }

        .Developer-profile{
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            width: 25rem;
            height: 45rem;

            &.active{
                position: fixed;
                right: 6.7%;
                top : 5%;
            }

            .profile-img{
                width: 100%;
                height: 30rem;
                background-image: url("../../../public/Image/프로필\ 사진.jpg");
                background-position: center;
                background-size: cover;
            }

            .view-report{
                display: block;
                color: #000;
                text-align: center;
                width: 25rem;
                height: 3rem;
                background-color: #fff;
                font-family: $font-Noto;
                font-size: 1rem;
                font-weight: bold;
                line-height: 3rem;
                cursor: pointer;
            }

            .profile-Repository{
                width: 100%;
                height: 8rem;

                .Repository-title{
                    width: 100%;
                    height: 2rem;
                    font-size: 1.5rem;
                    text-transform: uppercase;
                    color: #fff;
                }

                .Repository{
                    width: 100%;
                    height: 5rem;

                    a{
                        font-size: 2rem;
                        color: #fff;
                        line-height: 5rem;
                    }
                }
            }
        }
    }
}

@media screen and (max-width : 1440px){
    .Technology-container{
        height : 160rem;
        
        /*Development Skills container*/
        .DevelopSkills-container{
            height : 45rem;
    
            /*Development Skills Index & tabMenu*/
            .DevelopSkill-header{
                width: 100%;
                height: 10rem;
    
                .DevelopSkill-Index{
    
                    .Index-title{
                        line-height: 8rem;
                        font-size: 1.5rem;
                    }
                }
    
                .Skills-TabMenu{
                    height: 2.5rem;
    
                    ul{
                        width: 15rem;
                        height: 100%;
    
                        li{
                            display: inline-block;
                            width: calc(15rem / 2);
                            height: 100%;
                            text-align: center;
    
                            button{
                                background : rgba($color: #ffffff, $alpha: 0.2);
                                font-size: 1.1rem;
                                border : none;
                                cursor: pointer;
                            }
    
                            &.active{
                                background: #fff;
                                color: #000;
                            }
    
                            &.active button{
                                color: #000;
                            }
                        }
                    }
                }
            }
    
            /*Development skill Develop&Design Items container*/
            .DevelopSkill-contents{
                height: 30rem;
    
                .skill-item{
                    width: 16rem;
                    height: 13rem;
    
                    h2{
                        font-size: 1.2rem;
                    }
    
                    img{
                        width: 60px;
                        height: 60px;
                    }
    
                    p{
                        font-size: 13px;
                    }
                }
            }
        }
        
        /*Certificate container*/
        .Certificate-container{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 35rem;
    
            .Certificate-header{
                height: 10rem;
    
                .Certificate-Index{
        
                    .Index-title{
                        line-height: 10rem;
                        font-size: 1.5rem;
                    }
                }
            }
    
            .certificate-Info{
                height: 20rem;
                margin-top: 0;
    
                .certificate-item{
                    width: 20rem;
                    height: 100%;
                    text-align: center;
    
                    img{
                        width: 50px;
                        height: 50px;
                    }
    
                    .certificate-title{
                        height: 6rem;
                        line-height: 6rem;
                        font-size: 1.1rem;
                    }
    
                    .certificate-info{
                        font-size: 14px;
                    }
                }
            }
        }
    
        /*Developer container*/
        .Developer-container{
            height: 60rem;
    
            .Developer-header{
    
                .Developer-Index{
                    height: 12rem;
    
                    .Index-title{
                        height: 9rem;
                        line-height: 9rem;
                        font-size: 1.5rem;
                    }
    
                    .Index-subTitle{
                        height: 3rem;
                        line-height: 3rem;
                        font-size: 1rem;
                    }
                }
    
                .Advantages-contents{
                    height: 45rem;
    
                    .Advantages-title{
                        height: 8rem;
                        font-size: 1.2rem;
                        line-height: 8rem;
                    }
    
                    .Advantages-info{
                        height: 30rem;
    
                        .Advantage-item{
                            height: calc(30rem / 3);
    
                            .Advantage-titleBox{
                                display: flex;
                                justify-content: flex-start;
                                align-items: center;
                                width: 100%;
                                height: 5rem;
    
                                .title-Index{
                                    line-height: 7rem;
                                    font-size: 1.2rem;
                                }
    
                                .title{
                                    line-height: 7rem;
                                    margin-left: 5rem;
                                    font-size: 1.2rem;
                                }
                            }
    
                            .Advantage-info{
                                height: 5rem;
    
                                p{
                                    line-height: 5rem;
                                    font-size: 14px;
                                }
                            }
                        }
                    }
                }
            }
    
            .Developer-profile{
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                width: 30rem;
                height: 40rem;
    
                &.active{
                    position: fixed;
                    right: 7%;
                    top : 5%;
                }
    
                .profile-img{
                    width: 20rem;
                    height: 25rem;
                }
    
                .view-report{
                    width: 20rem;
                }
    
                .profile-Repository{
                    width: 20rem;
    
                    .Repository-title{
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }
}