@import '../variables';
@import '../ResponsiveMixin/mixin';

/*Technology 최상위 부모 container*/
.Technology-container{
    position: relative;
    width : 100%;
    height : 100vh;
    background-color: $black-color;
    overflow: hidden;
    padding : 5rem 6.25rem;

    /*Development Skills container*/
    .DevelopSkills-container{
        position: relative;
        width : 100%;
        height : 50rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        /*Development Skills Index & tabMenu*/
        .DevelopSkill-header{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 10rem;

            .DevelopSkill-Index{
                width: 40%;
                height: 100%;
                font-family: $font-Mont;
                color: $white-color;

                .Index-title{
                    width: 100%;
                    line-height: 10rem;
                    text-transform: uppercase;

                    h1{
                        font-size: 1.5rem;
                    }
                }
            }

            .Skills-TabMenu{
                display: flex;
                justify-content: flex-end;
                align-items: center;
                width : max-content;
                height: 2.5rem;

                ul{
                    width: 20rem;
                    height: 100%;

                    li{
                        display: inline-block;
                        width: calc(18rem / 2);
                        height: 100%;
                        text-align: center;
                        margin-left: 2rem;

                        button{
                            display: block;
                            width: 100%;
                            height: 100%;
                            color: $rgba-white;
                            font-weight: bold;
                            font-family: $font-Mont;
                            background : $darkMode-button;
                            font-size: 13px;
                            border : none;
                            cursor: pointer;
                            text-transform: uppercase;
                            transition: $ease-out;
                        }

                        &:nth-child(1){
                            margin-left: 0;
                        }

                        &.active button{
                            background-color: $white-color;
                            color: $black-color;
                            transition: $ease-in;
                        }
                    }
                }
            }
        }

        /*Development skill Develop&Design Items container*/
        .DevelopSkill-contents{
            position: relative;
            width: 100%;
            height: 34rem;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            place-items: initial;
            gap : 2rem 6.25rem;

            .skill-item{
                position: relative;
                width: 100%;
                height: 16rem;
                border : 2px solid transparent;
                background-color: $darkMode-button;

                &:hover{
                    border : 2px solid $rgba-white;
                }

                h2{
                    position: absolute;
                    top: 0;
                    width: 100%;
                    height: 5rem;
                    font-size: 1rem;
                    text-align: center;
                    font-family: $font-Mont;
                    color: #fff;
                    line-height: 5rem;
                }

                img{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50% ,-50%);
                    width: 60px;
                    height: 60px;
                }

                p{
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    bottom: 0;
                    width: 100%;
                    color: #fff;
                    height: 3rem;
                    text-align: center;
                    font-weight: 100;
                    font-family: $font-Mont;
                    font-size: 13px;
                }
            }
        }
    }
}

/* 맥북 반응형 */
@include macbook {
    /*Technology 최상위 부모 container*/
    .Technology-container{
        padding : 0 6.25rem;

        /*Development Skills container*/
        .DevelopSkills-container{
            height : 40rem;

        /*Development Skills Index & tabMenu*/
        .DevelopSkill-header{
            height: 6rem;

            .DevelopSkill-Index{

                .Index-title{
                    width: 100%;
                    line-height: 6rem;

                    h1{
                        font-size: 1.5rem;
                    }
                }
            }

            .Skills-TabMenu{
                height: 2.5rem;

                ul{
                    width: 20rem;

                    li{
                        width: calc(18rem / 2);

                        button{
                            font-size: 14px;
                        }
                    }
                }
            }
        }

            /*Development skill Develop&Design Items container*/
            .DevelopSkill-contents{
                position: relative;
                width: 100%;
                height: 28rem;
                gap : 1rem;

                .skill-item{
                    position: relative;
                    width: 100%;
                    height: 100%;

                    img{
                        width: 50px;
                        height: 50px;
                    }

                    p{
                        text-align: center;
                        font-weight: 100;
                        font-family: $font-Mont;
                        font-size: 13px;
                    }
                }
            }
        }
    }
}

/* 테블릿 가로 ~ 노트북 반응형 */
@include horizontalTablet {
    /*Technology 최상위 부모 container*/
    .Technology-container{
        padding : 3rem;
        height: 100%;

        /*Development Skills container*/
        .DevelopSkills-container{
            height : 38rem;

            .DevelopSkill-header{
                flex-direction: column;
                align-items: flex-start;
                width: 100%;
                height: 8rem;
                margin-bottom: 2rem;
    
                .DevelopSkill-Index{
                    width: 100%;
                    height: 5rem;
    
                    .Index-title{
                        line-height: 5rem;
                        font-size: 1rem;
                    }
                }
    
                .Skills-TabMenu{
                    height: 2rem;
    
                    ul{
                        width: 18rem;
    
                        li{
                            width: calc(16rem / 2);
    
                            button{
                                font-size: 13px;
                            }
                        }
                    }
                }
            }

            /*Development skill Develop&Design Items container*/
            .DevelopSkill-contents{
                position: relative;
                width: 100%;
                height: 25rem;
                gap : 1rem;

                .skill-item{
                    position: relative;
                    width: 100%;
                    height: 12rem;

                    h2{
                        height: 3rem;
                        line-height: 3rem;
                        font-size: 1rem;
                    }

                    img{
                        width: 35px;
                        height: 35px;
                    }

                    p{
                        text-align: center;
                        font-weight: 100;
                        font-family: $font-Mont;
                        font-size: 11px;
                        height: 2.5rem;
                    }
                }
            }
        }
    }
}

@include verticalTablet {
    /*Technology 최상위 부모 container*/
    .Technology-container{
        position: relative;
        width : 100%;
        height : 100%;
        background-color: $black-color;
        overflow: hidden;
        padding : 3.125rem;

        /*Development Skills container*/
        .DevelopSkills-container{
            position: relative;
            width : 100%;
            height : 75rem;

            /*Development Skills Index & tabMenu*/
            .DevelopSkill-header{
                flex-direction: column;
                align-items: flex-start;
                height: 8rem;

                .DevelopSkill-Index{
                    width: 100%;
                    height: 5rem;

                    .Index-title{
                        width: 100%;
                        line-height: 5rem;
                        text-transform: uppercase;

                        h2{
                            font-size: 1rem;
                        }
                    }
                }

                .Skills-TabMenu{
                    width : max-content;
                    height: 2rem;

                    ul{
                        width: 14rem;
                        height: 100%;

                        li{
                            width: calc(12rem / 2);

                            button{
                                font-size: 10px;
                            }
                        }
                    }
                }
            }

            /*Development skill Develop&Design Items container*/
            .DevelopSkill-contents{
                height: 63rem;
                grid-template-columns: repeat(2, 1fr);
                gap : 1rem;

                .skill-item{
                    height: 15rem;
                    border : none;

                    &:hover{
                        border : none;
                    }

                    h2{
                        height: 3rem;
                        font-size: 1rem;
                        line-height: 3rem;
                    }

                    img{
                        width: 40px;
                        height: 40px;
                    }

                    p{
                        width: 95%;
                        font-size: 12px;
                    }
                }
            }
        }
    }
}

@include mobile {
    /*Technology 최상위 부모 container*/
    .Technology-container{
        position: relative;
        width : 100%;
        height : 100%;
        background-color: $black-color;
        overflow: hidden;
        padding : 2rem 3.125rem;

        /*Development Skills container*/
        .DevelopSkills-container{
            height : 55rem;

            /*Development Skills Index & tabMenu*/
            .DevelopSkill-header{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                height: 8rem;

                .DevelopSkill-Index{
                    width: 100%;
                    height: 5rem;

                    .Index-title{
                        line-height: 5rem;

                        h1{
                            text-align: center;
                            font-size: 1.2rem;
                        }
                    }
                }

                .Skills-TabMenu{
                    width : max-content;
                    height: 2rem;

                    ul{
                        width: 12rem;
                        height: 100%;

                        li{
                            display: inline-block;
                            width: calc(10rem / 2);

                            button{
                                font-size: 10px;
                            }
                        }
                    }
                }
            }

            /*Development skill Develop&Design Items container*/
            .DevelopSkill-contents{
                position: relative;
                width: 100%;
                height: 44rem;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                place-items: initial;
                gap : 1rem;

                .skill-item{
                    position: relative;
                    width: 100%;
                    height: 10rem;
                    border : none;
                    background-color: $darkMode-button;

                    &:hover{
                        border : none;
                    }

                    h2{
                        position: absolute;
                        top: 0;
                        width: 100%;
                        height: 3rem;
                        font-size: 13px;
                        text-align: center;
                        font-family: $font-Mont;
                        color: #fff;
                        line-height: 3rem;
                    }

                    img{
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50% ,-50%);
                        width: 35px;
                        height: 35px;
                    }

                    p{
                        position: absolute;
                        bottom: 0;
                        width: 100%;
                        color: #fff;
                        height: 2rem;
                        text-align: center;
                        font-weight: 100;
                        font-family: $font-Mont;
                        font-size: 9px;
                    }
                }
            }
        }
    }
}