@import '../../asset/Variables.scss';

/*Technology 최상위 부모 container*/
.Technology-container{
    position: relative;
    width : 100%;
    height : 120rem;
    background-color: $black-color;
    overflow: hidden;
    padding : 5rem 10rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 100px;

    /*Advantage container*/
    .Advantage-container{
        position: relative;
        width: 100%;
        height: 45rem;

            .Advantage-Index{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 100%;
                height: 15rem;
                color: #fff;

                .Index-title{
                    width: 100%;
                    height: 8rem;
                    line-height: 8rem;
                    margin-bottom: 2rem;
                    font-size: 1.2rem;
                    text-transform: uppercase;
                    font-family: $font-Mont;
                }

                .Index-subTitle{
                    width: 100%;
                    height: 4rem;
                    line-height: 4rem;
                    font-size: 15px;
                    font-family: $font-Noto;
                    text-transform: uppercase;
                    font-weight: bold;
                }
            }

            .Advantages-contents{
                margin-top: 5rem;
                width: 100%;
                height: 25rem;
                color: #fff;

                .Advantages-list{
                    width: 100%;
                    height: 100%;

                    .Advantage-item{
                        display: inline-block;
                        width: calc(100% / 3);
                        height: 100%;

                        .Advantage-icon{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 100%;
                            height: calc(25rem / 2);
                        }

                        .Advantage-titleBox{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 100%;
                            height: 8.25rem;

                            .title-Index{
                                width: max-content;
                                text-align: center;
                                font-size: 1.2rem;
                            }

                            .title{
                                width: max-content;
                                margin-left: 5rem;
                                font-size: 1.2rem;
                                text-transform: uppercase;
                                font-weight: bold;
                                font-family: $font-Mont;
                                text-align: center;
                            }
                        }

                        .Advantage-info{
                            width: 100%;
                            height: 4.25rem;

                            p{
                                width: 100%;
                                line-height: 4.25rem;
                                text-align: start;
                                font-size: 15px;
                                font-family: $font-Noto;
                                color: #fff;
                                font-weight: 100;
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }

    /*Development Skills container*/
    .DevelopSkills-container{
        position: relative;
        width : 100%;
        height : 50rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        /*Development Skills Index & tabMenu*/
        .DevelopSkill-header{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 10rem;

            .DevelopSkill-Index{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                font-family: $font-Mont;
                width: 40%;
                height: 100%;
                color: #fff;

                .Index-title{
                    width: 100%;
                    line-height: 10rem;
                    font-size: 1.2rem;
                    text-transform: uppercase;
                }
            }

            .Skills-TabMenu{
                display: flex;
                justify-content: flex-end;
                align-items: center;
                width : 50%;
                height: 5rem;

                ul{
                    width: 20rem;
                    height: 100%;

                    li{
                        display: inline-block;
                        width: calc(20rem / 2);
                        height: 100%;
                        text-align: center;

                        button{
                            display: block;
                            width: 100%;
                            height: 100%;
                            color: rgba($color: #ffffff, $alpha: 0.5);
                            font-weight: bold;
                            font-family: $font-Mont;
                            background : transparent;
                            font-size: 1rem;
                            border : none;
                            cursor: pointer;
                        }

                        &:nth-child(1){
                            margin-left: 0;
                        }

                        &.active{
                            border-bottom: 2px solid #fff;
                        }

                        &.active button{
                            color: #fff;
                        }
                    }
                }
            }
        }

        /*Development skill Develop&Design Items container*/
        .DevelopSkill-contents{
            position: relative;
            width: 100%;
            height: 35rem;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            place-items: center;

            .skill-item{
                position: relative;
                width: 18rem;
                height: 15rem;
                border : 2px solid #fff;

                h2{
                    position: absolute;
                    top: 0;
                    width: 100%;
                    height: 5rem;
                    font-size: 1.2rem;
                    text-align: center;
                    font-family: $font-Mont;
                    color: #fff;
                    line-height: 5rem;
                }

                img{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50% ,-50%);
                    width: 70px;
                    height: 70px;
                }

                p{
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    color: #fff;
                    height: 3rem;
                    text-align: center;
                    font-weight: 100;
                    font-family: $font-Mont;
                    font-size: 15px;
                }
            }
        }
    }
}

@media screen and (max-width : 1440px){
    /*Technology 최상위 부모 container*/
.Technology-container{
    padding : 5rem 2rem;

    /*Advantage container*/
    .Advantage-container{
        .Advantage-Index{
            padding: 0 3rem;

            .Index-title{
                width: 100%;
                height: 8rem;
                line-height: 8rem;
                margin-bottom: 2rem;
                font-size: 1rem;
                text-transform: uppercase;
                font-family: $font-Mont;
            }

            .Index-subTitle{
                width: 100%;
                height: 4rem;
                line-height: 4rem;
                font-size: 14px;
                font-family: $font-Noto;
                text-transform: uppercase;
                font-weight: bold;
            }
        }

            .Advantages-contents{

                .Advantages-list{

                    .Advantage-item{

                        .Advantage-icon{
                        }

                        .Advantage-titleBox{

                            .title-Index{
                                width: max-content;
                                text-align: center;
                                font-size: 1rem;
                            }

                            .title{
                                width: max-content;
                                margin-left: 5rem;
                                font-size: 1rem;
                                text-transform: uppercase;
                                font-weight: bold;
                                font-family: $font-Mont;
                                text-align: center;
                            }
                        }

                        .Advantage-info{
                            width: 100%;
                            height: 4.25rem;

                            p{
                                width: 100%;
                                line-height: 4.25rem;
                                text-align: start;
                                font-size: 12px;
                                font-family: $font-Noto;
                                color: #fff;
                                font-weight: 100;
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }

        /*Development Skills container*/
    .DevelopSkills-container{
        padding: 0 3rem;

        .DevelopSkill-header{
            .DevelopSkill-Index{
    
                .Index-title{
                    font-size: 1rem;
                }
            }
        }
    }
}
}

@media screen and (max-width : 1040px){
   /*Technology 최상위 부모 container*/
    .Technology-container{
        position: relative;
        width : 100%;
        height : max-content;
        background-color: $black-color;
        overflow: hidden;
        padding : 0;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 100px;

        /*Advantage container*/
        .Advantage-container{
            position: relative;
            width: 100%;
            height: max-content;
            padding : 6.25rem 0 0 0;

                .Advantage-Index{
                    width: 100%;
                    height: 12.5rem;
                    padding: 0 2rem;
                    color: #fff;

                    .Index-title{
                        width: 100%;
                        height: max-content;
                        line-height: 3rem;
                        margin-bottom: 2rem;
                        font-size: 17px;
                        text-transform: uppercase;
                        font-family: $font-Mont;
                        word-break: keep-all;
                        text-align: center;
                    }

                    .Index-subTitle{
                        width: 100%;
                        height: 4rem;
                        line-height: 4rem;
                        font-size: 12px;
                        font-family: $font-Noto;
                        text-transform: uppercase;
                        font-weight: bold;
                        text-align: center;
                    }
                }

                .Advantages-contents{
                    margin-top: 3rem;
                    width: 100%;
                    height: 60rem;
                    color: #fff;

                    .Advantages-list{
                        width: 100%;
                        height: 100%;

                        .Advantage-item{
                            display: block;
                            width: 100%;
                            height: calc(100% / 3);

                            .Advantage-icon{
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                width: 100%;
                                height: calc(20rem / 2);
                            }

                            .Advantage-titleBox{
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                width: 100%;
                                height: 7rem;

                                .title-Index{
                                    width: max-content;
                                    text-align: center;
                                    font-size: 1.2rem;
                                }

                                .title{
                                    width: max-content;
                                    margin-left: 3rem;
                                    font-size: 1.2rem;
                                    text-transform: uppercase;
                                    font-weight: bold;
                                    font-family: $font-Mont;
                                    text-align: center;
                                }
                            }

                            .Advantage-info{
                                width: 100%;
                                height: 3rem;

                                p{
                                    width: 100%;
                                    line-height: 3rem;
                                    text-align: start;
                                    font-size: 12px;
                                    font-family: $font-Noto;
                                    color: #fff;
                                    font-weight: 100;
                                    text-align: center;
                                }
                            }
                        }
                    }
                }
            }

        /*Development Skills container*/
        .DevelopSkills-container{
            position: relative;
            width : 100%;
            height : 81.25rem;
            padding : 0 0 6.25rem 0;

            /*Development Skills Index & tabMenu*/
            .DevelopSkill-header{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;
                width: 100%;
                height: 10rem;
                margin-bottom: 2rem;

                .DevelopSkill-Index{
                    width: 100%;
                    height: 7rem;
                    padding: 0 2rem;

                    .Index-title{
                        width: 100%;
                        line-height: 7rem;
                        font-size: 1rem;
                        text-align: center;
                    }
                }

                .Skills-TabMenu{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width : 100%;
                    height: 3rem;

                    ul{
                        width: 100%;
                        height: 100%;

                        li{
                            display: inline-block;
                            width: calc(100% / 2);
                            height: 100%;
                            text-align: center;

                            &.active{
                                background-color: #505050;
                                border: none;
                            }
                        }
                    }
                }
            }

            /*Development skill Develop&Design Items container*/
            .DevelopSkill-contents{
                position: relative;
                width: 100%;
                height: 65rem;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                place-items: initial;

                .skill-item{
                    position: relative;
                    width: 100%;
                    height: 15rem;
                    border : transparent;

                    h2{
                        font-size: 1rem;
                    }

                    img{
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50% ,-50%);
                        width: 50px;
                        height: 50px;
                    }

                    p{
                        font-size: 12px;
                    }
                }
            }
        }
    }
}