@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Poor+Story&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

:root{
  --font-family : 'Poor Story', cursive;
  --font-family-Rubik : 'Rubik Glitch', cursive;
  --font-family-Bebas : 'Bebas Neue', cursive;
  --font-family-Gugi : 'Gugi', cursive;
  --font-family-Marker : 'Permanent Marker', cursive;
  --font-family-Alfa : 'Alfa Slab One', cursive;
}

*{
  box-sizing: border-box;
}

html::-webkit-scrollbar{
  display: none;
}