*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul{
  list-style: none;
}

body{
  background-color: #000;
}

a{
  text-decoration: none;
}

html::-webkit-scrollbar{
  display: block;
}

html::-webkit-scrollbar-thumb{
  display: block;
  width: 30px;
  background-color: rgba(255, 255, 255, 0.5);
}

@media screen and (max-width : 1400px){
  html::-webkit-scrollbar{
    display: none;
  }
}