*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

html::-webkit-scrollbar{
  display: block;
}

html::-webkit-scrollbar-thumb{
  display: block;
  width: 100px;
  background-color: #000;
}